[2019-12-05 03:00] DarioS opened #438 "read.maf Fails If Run Twice"
[code]

Is there a way to avoid the flaky `data.table` package?

[code]

[2019-12-05 03:14] ShixiangWang commented on #438
This error cannot be reproduced.

[code]

I think if your file is very big but your memory is not enough to read it again.

May you try `rm(HNSCexomeMutations); gc()` before reading it again?

[2019-12-05 03:22] guohe113 commented on #436
Got it, thank you. Sometimes, when plotSignatures, same cosmic signature showed up twice, with different cosine-similarity. Like the results shown below. How to deal with such results? I'm expecting each signature showed up only once.
![image](https://user-images.githubusercontent.com/49849478/70201365-5c817800-1751-11ea-81b1-72002344e207.png)

[2019-12-05 04:00] DarioS commented on #438
It's only 116 MB. It would be fine as a plain `data.frame` but data.table is resource-hungry. Your code to free some memory works, though.

[2019-12-05 07:33] likelet commented on #433
well, thanks for the reply. I will have a try and give feedback  once it is done

[2019-12-06 07:59] PoisonAlien commented on #437
Hi,
Please read the [vignette](https://bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/maftools.html#9113_signature_analysis) regarding signature analysis. `estimateSignatures` is a function which gives you an idea of how many possible signature you might expect in your data. Once you have this number, you will have to run `extractSignatures` - results of which can be passed to `c

[2019-12-06 08:02] PoisonAlien commented on #436
Hi,
Since the extracted signatures are de-novo signatures , you might be finding something novel which hasn't been described before; and the best possible match from known signatures is COSMIC_1. However at this point its hard to expect new signatures. Can you try to run `compareSignatures` with `sig_db = "SBS"`, maybe this will help to see if these are already reported before.

[2019-12-06 13:12] beginner984 commented on #437
Hi

I found was the problem; In vignete there is no `extractSignatures `code line so I found that in document :)

[code]
------------------------------------

[2019-12-06 13:25] PoisonAlien commented on #437
Yes, you were right. I will fix it soon. Please accept my apologies, and thanks for reporting.

[2019-12-06 14:38] beginner984 commented on #437
Not at all

To be honest I must be so thankful for developing such an amazing software

[2019-12-06 14:39] #437 closed

[2019-12-06 16:19] beginner984 opened #439 "How to access to full ICGC data"
Hi

Sorry I found `icgcSimpleMutationToMAF` a very interesting function to work on public data. By luck I am working on `ESCA` as you exemplified that for this function in maftools vignette but I found that you are just using a toy data and very small. This might totally irrelevant to your package but may I please ask how I can access the full `simple_somatic_mutation.open.ESCA-CN.sample.tsv.gz` f

[2019-12-07 22:44] beginner984 opened #440 "Why I am getting this error again"
Hi
I am failing to run some functions like below with the same error

[code]

This is my maf object
https://www.dropbox.com/s/kvmozxtkjtcd8dv/laml.rds?dl=0

[code]
Thank you for any help

[2019-12-09 03:49] likelet commented on #433
it still running at present, seems it stuck somewhere
![image](https://user-images.githubusercontent.com/3021506/70405919-d0858e00-1a79-11ea-8cfa-7a15e5cb0546.png)
all tasks are suspended with no warning. so any suggestion?

[2019-12-09 06:22] ShixiangWang commented on #433
This is time-consuming because you have 800 samples, you have to wait. Do you enable parallel computation?

[2019-12-09 06:24] likelet commented on #433
Yes, I run it in parallel with more than 20 cores

[2019-12-09 08:32] PoisonAlien commented on #440
Hi,
It works perfectly for me, with the same version of maftools. Do you still have the issue?

[2019-12-09 08:41] PoisonAlien commented on #439
I think you will have to browse ICGC data portal. Its been a while since I checked it, and I dont remember by-heart.

[2019-12-09 08:41] #439 closed

[2019-12-09 08:44] PoisonAlien commented on #433
Hmm.. I can understand that its a time consuming process but four days is a bit too much. I will try to run this on tcga brca (N > 1000) cohort to see if I can reproduce this.

[2019-12-09 11:01] beginner984 commented on #440
Thank; I was working with laptop all getting error when I turned to office desktop error gone.

Sorry, why in my maf I can not find Variant Allele Frequencies to plot VAF?

[2019-12-09 12:50] PoisonAlien commented on #440
That's because you don't have a column containing variant allele frequencies.

Run below command to see the available column names.

[code]

[2019-12-09 12:50] #440 closed

[2019-12-09 13:20] PoisonAlien commented on #433
Okay. tested on tcga brca cohort and it seem to be quite fast. It took under 3 minutes for me to finish the job. However, increasing `nrun = 10` increased the run time but it never exceeded 5 minutes.

[code]

I am running this on Ubuntu system with 64GB RAM and 8 threads. This is my `sessionInfo`
[code]

[2019-12-09 17:14] beginner984 commented on #440
Sorry

I have 21 patients for each of them I have one SNP and one INDEL file from annovar but in some plots like these I am seeing 22 samples, how it is possible?

https://www.dropbox.com/s/kw3bljcy5rayl2s/laml.rds?dl=0

And like of my files

https://www.dropbox.com/s/4b4qwxbyxztz4x9/annovarTomaf.rds?dl=0

[](https://i.ibb.co/4WbfpnT/Picture1.png)

[](https://i.ibb.co/Hg2SR55/Picture2.png)

Thank

[2019-12-10 08:04] PoisonAlien commented on #440
I am not sure how this happened. Please be aware that if there is no `Tumor_Sample_Barcode`  column in your annovar output files, `annovarToMaf` will create one for you based on the file names. It seems following are the sample names it has created from the files you have used.

[code]

If you see anything weird or unwanted samples - manually correct them and use `read.maf` on corrected data.frame

[2019-12-10 08:55] likelet commented on #433
hi PoisonAlien.
it seems stuck for an unknown reason in my side, I will send the object file by email.
Thanks for your help!

[2019-12-10 13:34] PoisonAlien commented on #433
Hi @likelet ,

Thank you for sharing the data. I ran `estimateSignatures` on your tnm and it finished in under 8 mins with 6 threads.

[code]
I am having hard time to figure out the issue.

1. Can you check your `nmf` package version? I am using `0.21.0`.  Install `nmf` package from [GitHub](https://github.com/renozao/NMF) if necessary since it seems to be not updated on CRAN.

2. Also are you by

[2019-12-11 02:56] likelet commented on #433
hi @PoisonAlien ,
thanks for your testing, here is my sessioninfo, I have only `maftools` and `NMF` loaded in the env.
and the version of `NMF` is `0.21.0`. BTW: could you send the `bestfit` object to me and I will have a look at the result firstly?
[code]

[2019-12-11 08:36] PoisonAlien commented on #433
I have replied it to your email. Do you think you can re-run the command on a different system to see if this is reproducible?

[2019-12-11 13:41] likelet commented on #433
i will try it in another server and update the result here.

[2019-12-12 09:09] t-neumann opened #441 "extractSignatures arguments lost and NMF error"
Hi,

I had a perfectly working version of extracting mutational signatures for my data. I then pulled in a recent commit for a bugfix you did for me and now the functions are not working anymore and from the help it looks like you removed some parameters such as `nTry` from the function.

[code]

Any ideas?

[2019-12-12 09:17] PoisonAlien commented on #441
I did not remove any arguments, however I added couple of arguments to `estimateSignatures` function. Are you sure about `extractSignatures` function?

[2019-12-12 12:36] t-neumann commented on #441
I see - I missed this change, sorry for that. I tried to run it, but run into a different problem now with the new functions:

[code]

From what I can see the problem is the following line:

[code]

It looks like from the `data.sign` object the `signatures` attribute is missing.

[2019-12-12 12:43] PoisonAlien commented on #441
Sorry things seem to be complicated after the update (an additional required step is missing in vignette, which I have to fix).
`estimateSignatures` only helps to get an idea of optimal number of signatures. After `estimateSignatures`, use its output with `plotCophenetic`  to draw the elbow plot, which should help you decide the number of signature. Once you get this number, you will have to final

[2019-12-13 03:10] weilan-yuan opened #442 "Hi， Recently I found error of maftools "https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/maftools.html#9_analysis""

[2019-12-13 03:13] weilan-yuan commented on #442
get "laml.sign = estimateSignatures(mat = laml.tnm, nTry = 4) "
laml.se = signatureEnrichment(maf = laml, sig_res = laml.sig) this "laml.sig" is error ,"laml.sign" maybe right.

[2019-12-13 12:07] PoisonAlien commented on #442
Hi,
Sorry there is a missing command in the vignette  for the function `extractSignatures`

[code]

Above output `laml.sig` is passed to `signatureEnrichment`. I have fixed it, but the changes are yet to appear on Bioconductor.

[2019-12-13 12:46] #436 closed

[2019-12-13 12:47] PoisonAlien commented on #438
I am closing issue since this not directly related to maftools itself.

[2019-12-13 12:47] #438 closed

[2019-12-14 19:11] t-neumann commented on #441
Ok that was a bit confusing because in the current version of the vignette the `extractSignatures` was not explicitely used in the example. You might want to consider adding this. Thanks for the clarification!

[2019-12-14 19:11] #441 closed

[2019-12-15 10:36] PoisonAlien commented on #432
Hi,
I have fixed it. Thanks for reporting.

[2019-12-15 10:38] PoisonAlien commented on #423
Okay, I have added a new argument `clinQuery` to `subsetMaf`. Could you please test it and let me know?

[code]

[2019-12-15 13:00] DarioS commented on #423
It works as intended.

[2019-12-15 13:00] #423 closed

[2019-12-19 08:03] PoisonAlien commented on #442
Thanks again. Vignette is fixed now.

[2019-12-19 08:03] #442 closed

[2019-12-19 12:04] likelet commented on #433
well, i tried it in another server, it finished in about 3min
[code]
here is the `sessionInfo` in this server,  so i think the first server should be not properly configured
[code]
Therefore, i think the best solution for this is to change another server:)

[2019-12-19 13:48] PoisonAlien commented on #433
Thank you for checking it :) I wonder what must have gone wrong with the old cluster.
Anyway, I am closing the issue for now. Please feel free to reopen if necessary.

[2019-12-19 13:49] #433 closed

[2019-12-19 15:12] beginner984 opened #443 "Is this possible to produce such a plot"
Hi

Thanks for this software. Can we show alongside the plots come from GISTIC visualization? Something like this
![nihms271566f1](https://user-images.githubusercontent.com/43682980/71184656-fed14d80-2271-11ea-8d4f-1f2712ef1b35.jpg)

Thank you in advance for any help for getting this

[2019-12-20 09:05] weilan-yuan commented on #442
thank you very much

[2019-12-20 09:09] PoisonAlien commented on #443
Maybe not the same plot, but this one comes [close](https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/maftools.html#821_genome_plot) enough. You can suggest me if there is something that you like me to add.

[2019-12-20 10:43] beginner984 commented on #443
Exactly I noticed https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/maftools.html#821_genome_plot in your software that is why I think that would be great any possibly of adding gene for this function to come up with something shown in that paper

Please go ahead for that if this is possible

[2019-12-24 02:44] weilan-yuan opened #444 "Hi I use maftools “mafSurvival” function plot the KRAS mutation/wildtype to find out the mistake with the tail of KM line"

[2019-12-24 03:06] weilan-yuan commented on #444
the KM line is different from the R survival package result .

[2019-12-24 03:10] bellqiu commented on #444
Image1:
==
![image1](https://www.fnvalley.com/maf-survival/image1.png)

Image2:
==
![image2](https://www.fnvalley.com/maf-survival/image2.png)

[2019-12-24 04:26] ShixiangWang commented on #444
Could you show your example code?

[2019-12-24 04:27] ShixiangWang commented on #444
Could you show your example code?

[2019-12-25 02:54] Tinalxt commented on #395
Hi,
I had the same wrong message when used the extractSignatures function.
I have no idea what's wrong with my data.
How could I can deal with this bug?
`laml.sign = estimateSignatures(mat = laml.tnm, nTry = 6, pConstant = 0.1)
-Running NMF for 6 ranks
Compute NMF rank= 2  ... Timing stopped at: 0 0 0.005
ERROR
Compute NMF rank= 3  ... Timing stopped at: 0 0 0.006
ERROR
Compute NMF rank= 4  ... Ti

[2019-12-25 04:06] ShixiangWang commented on #395
@Tinalxt Do you use the latest version of maftools? I don't find any problem. Do you run `library(NMF)` firstly?

[code]

[2019-12-25 18:26] PoisonAlien commented on #443
Hi,

I have pushed some changes which enables highlights mutations on chromplot. Could you please try it and let me know if it works for you? You will have to install from GitHub.

example usage with builtin `laml` cohort:

[code]

[2019-12-25 18:28] PoisonAlien commented on #444
Hi,
Please post your command used and `sessionInfo`.

[2019-12-25 18:56] PoisonAlien commented on #343
This may not be the way you wanted it, but they have been included in the known signature database. You can try `compareSignatures` with `sig_db  = 'SBS'`.
Thanks for the input again. I am closing the issue for now, please feel free to reopen if necessary.

[2019-12-25 18:56] #343 closed

[2019-12-25 20:01] beginner984 commented on #443
Thank you

With this maf object

https://www.dropbox.com/s/3bs3mtymi6w1dkr/res.rds?dl=0
and gistic.laml
https://www.dropbox.com/s/0uq7or8wxyb87ih/laml.gistic?dl=0

I got this picture

![Rplot122](https://user-images.githubusercontent.com/43682980/71449973-1b600080-271e-11ea-8a90-90ab50c70c12.png)
Only showing TP53
[code]
Is it possible to show all genes in those picks?

In this paper https://doi.o

[2019-12-26 01:05] beginner984 opened #445 "Adding extra column and information to maf"
Hi
I had called my somatic mutation by Strelka then annotated by annovar and annovar2maf from your software. I noticed my maf does not have variant allele frequency (VAF) column. I therefore tried to calculated VAF for each of my .VCF from Strelka. Is these any way to add VAF for each sample to my big maf object?

Lets say this is my maf object for 21 samples

https://www.dropbox.com/s/3bs3mtymi6w

[2019-12-26 06:24] weilan-yuan commented on #444
thank you for reply. I try it again  and the mistake is not by the mafsurvival function ,but my data is mistake .

At 2019-12-26 01:28:03, "Anand Mayakonda" <notifications@github.com> wrote:

Hi,
Please post your command used and sessionInfo.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-12-26 08:20] #444 closed

[2019-12-27 00:28] beginner984 opened #446 "Changing oncoplot in a specific way"
Sorry to be this much annoying

I need help please

I have a list of genes that have been previously reported in the COSMIC database about ESCA. I also have my own maf object for my tumours in ESCA

How can I show the status of COSMIC genes in oncoplot of my maf object please?

Something like this
![nihms474888f4](https://user-images.githubusercontent.com/43682980/71494529-7a507300-280d-11ea-931b-

[2019-12-27 09:12] PoisonAlien commented on #446
You can add a column in your `maf` file with COSMIC status for variants (e.g, yes or no). While plotting use the argument `additionalFeature` to highlight specific attributes.

E.g;

[code]

See [here](https://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/oncoplots.html#07_highlighting_samples) for an example.

[2019-12-27 10:40] beginner984 commented on #446
Hello
Thank you so much

Sorry

I have a maf object I then tried to extract my data from that to add extra column like COSMIC information; So

maf=laml@maf.silent

-Validating
--Non MAF specific values in Variant_Classification column:
  Unknown
--Non MAF specific values in Variant_Type column:
  MNP
-Silent variants: 471853
Error in read.maf(maf = a, clinicalData = NULL) :
  No non-synonymous mut

[2019-12-27 11:02] PoisonAlien commented on #446
There is no direct way. Best way would be to write your maf object with `write.mafSummary` which should generate the maf to an output file. Then add your cosmic status to it and read it back again.

[2019-12-29 13:00] PoisonAlien commented on #445
This is beyond the scope package usage. Sorry, but you will have to figure out this.

[2019-12-29 13:00] #445 closed

[2019-12-29 22:52] beginner984 opened #447 "Problem in reading annovar output"
Hello
I have converted my annovar outputs to maf but I am failing to read my maf
This is one of my mafs

[res.hg19_multianno.txt](https://github.com/PoisonAlien/maftools/files/4008656/res.hg19_multianno.txt)

[code]

[code]

How I can solve this problem please?

[2019-12-30 00:48] beginner984 commented on #445
Thank you so much

As I mentioned, I had calculated VAF for each sample I then manually add VAF column to my VAF

This is VAF plot for one sample

![Rplot123](https://user-images.githubusercontent.com/43682980/71564763-a5d09900-2a6b-11ea-9dd0-41e51ad9d32d.png)

I guess VAFs are too low because I have only one sample in my maf object

[2019-12-30 00:50] beginner984 commented on #443
Sorry that would be possible to have all significant GISTIC regions and spanning genes in visualizing gistic results as shown in this picture?
![71184656-fed14d80-2271-11ea-8d4f-1f2712ef1b35](https://user-images.githubusercontent.com/43682980/71564800-1bd50000-2a6c-11ea-8418-33f9764c4e30.jpg)

[2019-12-30 19:07] beginner984 commented on #446
I done so

[code]

I am not sure if I am doing correct because

[code]

![Rplot123](https://user-images.githubusercontent.com/43682980/71596517-445d0880-2b05-11ea-8281-fd64bd64e85a.png)

[2019-12-30 20:26] PoisonAlien commented on #443
By default `gisticChromPlot` highlights top 5 significantly altered peaks. You will have to set `markBands = 'all'` to highlight them all. Also see `?gisticChromPlot` for more details. This is also shown in the [vignette](https://bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/maftools.html#82_visualizing_gistic_results).

For the warning message regarding `Could not find mutation

[2019-12-30 20:39] PoisonAlien commented on #446
I will not recommend altering the maf object with `@`. Write your maf object with `write.mafSummary` once you generate your maf file from your annovar outputs.

For example;

[code]

Above command should generate `my_maf_maftools.maf` tsv file. Read this file into R using your favourite command like `read.table` or `data.table::fread`. Then add COSMIC status to this file. This ensures that you are

[2019-12-31 12:27] beginner984 commented on #446
Thank you so much very very useful comment about getting main maf from maf object

About adding COSMIC, I am also note quite sure. My supervisor has asked me to enrich my annovar annotation with a list of false positive genes, driver genes for ESCA reported by other studies and COSMIC drivers. I then thought to add these columns to my maf for visualization although I am not certain about any usefu

[2020-01-02 01:20] beginner984 commented on #446
Hello

I have added extra columns to my maf like **_COSMIC_**, **_FRANKEL_**, **_cancer_damaging_alteration_**, **_cancer_helper_** but for example says

[code]
While I have **_yes_** for added gene list

[1] 607 133

How it is possible?

This is my maf, please can you have a look?

https://www.dropbox.com/s/7unfevgjdvfcix0/maf.rds?dl=0

Thank you

[2020-01-02 09:16] PoisonAlien commented on #446
That means none of the top mutated genes are `yes` for `FRANKEL`.  Only below genes in your maf belong to `yes`.

[code]

Using above genes works.
[code]

Also, I would appreciate if you can restrict your questions to tool related bugs or errors. Most of the questions seem to be pretty basic. you will just have to spend some time figuring them out.

[2020-01-04 03:24] showteeth opened #448 "Change oncoplot title"
Hi,
Is there any way to **change** the default title **Altered in xxx of xxx samples** to something else or **add** a sup title?
Thank you for any help!

[2020-01-04 09:48] PoisonAlien commented on #448
Hi,
I have added `titleText` argument to `oncoplot` function.

[code]

You will have to reinstall from GitHub. Let me know if this helps.

[2020-01-04 11:07] showteeth commented on #448
Yes, it works!
Thank you for such timely help!

[2020-01-04 11:10] #448 closed

[2020-01-06 21:44] Subhi opened #449 "Error in seq.default(0, max(colSums(gs.dat)) + 2, length.out = 4) : 'to' must be a finite number"
I loaded a maf file with 7 mutations and I got this error

[2020-01-07 08:59] PoisonAlien commented on #449
Hi,
Could you please post your complete command?

[2020-01-07 13:41] #447 closed

[2020-01-07 15:05] Subhi commented on #449
The command:
plotmafSummary(maf = cell1, addStat = 'median', dashboard = TRUE, titvRaw = FALSE)

I have attcahed the maf as well
[A.txt](https://github.com/PoisonAlien/maftools/files/4031150/A.txt)

[2020-01-07 15:12] PoisonAlien commented on #449
Your maf contains only one sample. `maftools` works well with multi sample cohort, and most functions will result in error with single sample. There is very little I can do to here :|

[2020-01-07 15:31] Subhi commented on #449
I was able to get it running for other maf with similar single sample! This is the only maf that failed.

[2020-01-07 16:43] PoisonAlien commented on #449
Okay I think I found the source. Could you try again? You will have to install from GitHub.
Also, if you have multiple samples, it would be easier if you can combine them into one single maf.

[2020-01-07 18:39] Subhi commented on #449
I re-installed from GitHub but still the same error.

"Error in seq.default(0, max(colSums(gs.dat)) + 2, length.out = 4) :
  'to' must be a finite number
In addition: Warning message:
In max(colSums(gs.dat)) : no non-missing arguments to max; returning -Inf"

[2020-01-08 08:42] PoisonAlien commented on #449
It seems to work on my system with the same `A.txt` maf file. Can you post your sessionInfo with devtools?

[code]

[2020-01-08 15:37] Subhi commented on #449
─ Session info ────────────────────────────────────────────────────────────────────────────────────────────────
 setting  value
 version  R version 3.5.2 (2018-12-20)
 os       macOS High Sierra 10.13.6
 system   x86_64, darwin15.6.0
 ui       RStudio
 language (EN)
 collate  en_US.UTF-8
 ctype    en_US.UTF-8
 tz       America/New_York
 date     2020-01-08

─ Packages ─────────────────────────────

[2020-01-08 15:41] PoisonAlien commented on #449
This seems ok. Error that you are facing is it with the same file `A.txt`?

[2020-01-08 17:26] Subhi commented on #449
It worked now!

Thanks :)

[2020-01-09 08:03] #449 closed

[2020-01-10 11:41] zmiimz opened #450 "tcgaCompare plot layout problem with primarySite=TRUE"
if parameter primarySite=TRUE in tcgaCompare , cancer labels of x axis are cut off in the plot.

[2020-01-10 11:50] zmiimz commented on #450
ok, it seems to be problem with default oma parameter in r

[2020-01-10 11:50] #450 closed

[2020-01-15 16:17] pickledgrape opened #451 "exprsTbl graph plotting with the wrong alignment?"
Hi PoisonAlien, this is an awesome tool!

I find that when I use oncoplot with an expression table, the alignment of expression values are not plotting correctly. I can show you what I mean:

![Rplot_github](https://user-images.githubusercontent.com/59489189/72450412-f3dde000-377f-11ea-824b-cbf89fd69e02.png)

The gene CREBBP holds the highest expression table value, .85, yet that score is plotted

[2020-01-15 16:22] pickledgrape commented on #451
To add, none of the gene positions are present in the gene column of the expression table yet they are still plotted.

[2020-01-16 01:53] ShixiangWang commented on #451
The plot may be affected by the CNV, could you remove the CNV data and plot again to check this?

[2020-01-16 16:32] PoisonAlien commented on #451
Hi,
Thanks for using the package and I am glad that you find the package useful.
Is it possible to provide a reproducible example?

[2020-01-17 15:04] pickledgrape commented on #451
@ShixiangWang you are right the CNV data is causing this problem. When it's removed the enrichment table plots amazingly. I know that the gene addresses present in the CNV are NOT present in the maf file. Do you know of any fix?

This code reproduces the original plot:
lglsamplesmaf = read.maf(lglsamples,cnTable = CNV, clinicalData = clinical)

oncoplot(maf = lglsamplesmaf,fontSize = .5, genes = g

[2020-01-17 15:28] PoisonAlien commented on #451
Thanks @ShixiangWang for pointing out.
@pickledgrape  I have fixed it. Could you please reinstall from GitHub and let me know if it helps?

[2020-01-17 17:34] pickledgrape commented on #451
Great fix, everything plots properly now. Thanks!

[2020-01-17 17:34] #451 closed

[2020-01-20 08:46] Chitanda-Satou opened #452 "[Bug report] Duplicated colors are set to "Nonstop_Mutation"."
Dear @PoisonAlien , recently I found that in the function maftools:::get_vcColors(), the color of Nonstop_Mutation was set twice with different values. Is it a mistake or for purticular purpose?
Version of maftools used is maftools_2.2.10.
![图片](https://user-images.githubusercontent.com/32410912/72711409-f7200400-3ba3-11ea-8cae-53733518f6dd.png)

[2020-01-20 09:02] PoisonAlien commented on #452
Hi,
Its definitely not intentional. I think its a mistake on my side. I will fix it, thanks for reporting.

[2020-01-20 14:04] beginner984 opened #453 "Showing mutational load"
Hi

I use `tcgaCompare` function to look at mutational load in my data vs TCGA but is there any way to do the same for mine different types of data? Please let's say I have separate maf objects for patients before and after chemotherapy, so that would be nice to look at mutational load in two data side by side

Thank you

[2020-01-20 14:10] PoisonAlien commented on #453
Yes, you can do that. `tcgaCompare` can accept multiple maf objects.

For example if you have two maf objects `x` and `y`, you could do like below..

[code]

[2020-01-20 15:26] PoisonAlien commented on #452
Thanks again. I have removed one of the entries.

[2020-01-20 16:05] beginner984 commented on #453
Thank you, is it possible to say  statistically if mutational burden differs between two data?

[2020-01-20 16:12] PoisonAlien commented on #453
Not at the moment. But I think it can be done. I will let you know if I can implement it..

[2020-01-20 16:30] beginner984 opened #454 "Confusion on oncoplot"
Hi

Sorry for this silly confusion

I have a clinical data in TRG column I am sure all are responder

[code]
But in oncoplot I am getting some NA for TRG like this
![Rplot](https://user-images.githubusercontent.com/43682980/72742675-22a1ef00-3ba2-11ea-978c-9897a5768db9.png)

I am wondering how it is possible?

This is my R object

https://www.dropbox.com/s/hzt1fc4miftfqjm/my_weird_oncoplot.RData?d

[2020-01-20 21:05] MaryGoAround opened #455 "forestPlot for a set of genes"
Hello

By using forestPlot function we nicely can compare two cohorts. Supposing we added an extra column to maf file, let's say cancer driver genes which has 1 if a gene is driver and 0 if no evidence of being a driver for any genes in maf file. Can we only compare two maf object for genes in cancer driver column with 1? I mean comparing two cohorts only regarding a set of genes

Thank you for an

[2020-01-21 08:14] PoisonAlien commented on #455
Hi,
Yes you can do that. You will have to subset your mafs and compare them.

For example,

[code]
I hope I understood your question correctly.
I hope I understood your question correctly.

[2020-01-21 08:24] PoisonAlien commented on #454
Hi,
Your clinical is missing information for 4 samples. You can see this while reading your maf also.

[code]

These are the 4 samples with `NA` in the onocplot.

[2020-01-21 09:52] beginner984 commented on #453
Sorry
Is it possible to show p-value for Transition and Transversions in samples?

Something like B part of this figure

![F4 large](https://user-images.githubusercontent.com/43682980/72794294-aeb02700-3c33-11ea-93bc-e15159afcc9c.jpg)

[2020-01-21 09:56] #455 closed

[2020-01-21 10:32] #454 closed

[2020-01-21 11:00] PoisonAlien commented on #453
No. But, one can easily do it with multiple `titv` outputs.

[2020-01-21 12:04] kunstner commented on #152
Hi,

I would like to know whether this enhancement will be implemented soon?

Thanks,
 Axel

[2020-01-21 13:24] PoisonAlien commented on #152
Hi Axel,
Sorry for the delay and not following it up. However, I do not have any immediate plans to include it as a dependency  :|

[2020-01-21 13:50] ShixiangWang commented on #152
@kunstner Do you mean the signature exposure in each sample? If this is what you want, you can use {sigminer} package, which is compatible with {maftools}.

The current version of {sigminer} is under development, you have to install it from Github.

[code]

An example:

[code]

[2020-01-21 15:59] beginner984 commented on #453
Sorry for too questioning
I am see number of different types of mutations in summary of maf

But can we get total number of SNV and INDEL separately for each sample?

[2020-01-21 16:03] PoisonAlien commented on #453
Check out `mafSummary` function which will get you these numbers.
For example:

[code]

However, it returns summaries for everything (synonymous and nonsynonymous).

[2020-01-22 06:52] kunstner commented on #152
@ShixiangWang Thanks! That's what I was looking for. In the past, I iterated over all samples to perform the analysis but this seems way more elegant.

[2020-01-22 08:21] #446 closed

[2020-01-22 08:22] #417 closed

[2020-01-22 10:53] beginner984 commented on #453
Sorry tcgaCompare gives median of mutations per Mb for each maf, is there any way to access to number of mutations per Mb for each sample in maf object?

[2020-01-22 11:42] PoisonAlien commented on #453
I am working on it. I will make the function to return pairwise t-test results and mutation load per sample. Should be done soon..

[2020-01-22 11:44] beginner984 commented on #453
Great job and the best of lucks

[2020-01-22 14:45] PoisonAlien commented on #453
Okay, could you try again? `tcgaCompare` output should contain pairwise t-test results and mutation load per sample.

[2020-01-22 16:03] beginner984 commented on #453
Thanks; this is simply amazing

[2020-01-22 16:25] beginner984 commented on #453
Sorry for my data
[code]
What is MNP?

[2020-01-22 17:48] PoisonAlien commented on #453
They are `Multi Nucleotide Polymorphisms`. They are rare but do often show up.

[2020-01-22 17:48] #453 closed

[2020-01-22 18:24] beginner984 opened #456 "Using inferHeterogeneity function as whole"
Hi

Sorry, I found `inferHeterogeneity` function very helpful as I am working on clonality evolution in cancer; Plotting output of inferHeterogeneity gives separate results by sample, is it possible to get a union MATH score and clonal plot for each maf object (I mean for all samples at once)?

[2020-01-22 21:26] PoisonAlien commented on #456
I dont think its possible. Every tumor is different in terms of heterogeneity. Its hard to quantify with a single value. But if you still want to get something crude, draw a boxplot of `MATH` scores and check the median value for a rough estimate. I would however strongly discourage it. Some people really [dont like](https://www.nature.com/articles/s41598-018-29154-7) MATH scores.

[2020-01-23 03:31] Syksy opened #457 "Output MAF has column names in wrong order if input column order is not default"
Hello,

I had an ANNOVAR output file where the columns `"Chr", "Start", "End", "Ref"`, "Alt" were not in this order; instead they were `"Chr", "Ref", "Alt", "Start", "End"`. The file had been manually altered.

At the following line in `annovarToMaf`:
`colnames(ann)[which(colnames(ann) %in% c("Chr", "Start", "End", "Ref", "Alt"))] = c("Chromosome", "Start_Position", "End_Position", "Reference_Alle

[2020-01-23 03:58] Syksy opened #458 "Variant_Type is assigned 'SNP' for INDELs if '-' character is not used"
Hello,

My ANNOVAR output file contains the Ref/Alt information in following format for indels:
[code]
... where I would expect the former entry to be assigned a `DEL`, and the latter entry an `INS` for their `Variant_Type` output.
The implementation of `annovarToMaf` has the commented out former implementation, where number of characters were compared exactly for this purpose:
[code]
However, the

[2020-01-23 04:17] JocelynSP opened #460 "Problems with detect kataegis in rainfallPlots"
Hi, I had a couple of problems with detecting kataegis. I have a cohort of 220 samples, and when I processed them 13 failed to terminate. The problem appears to be that
while(end_idx <= nrow(chr.dat))
is not checked while extending a kataegis queue, so if the last SNV is inside the kataegis region it keeps adding non-existent SNVs without changing mean(diff)).
I made a change which fixed this, and

[2020-01-23 11:20] kunstner commented on #152
@ShixiangWang One more thing. Is it possible to relate the found signatures to e.g. know COSMIC profiles?

[2020-01-23 12:33] ShixiangWang commented on #152
@kunstner Yep! You can use `get_sig_similarity()` function. It is modified from source code of `maftools`, you can run `?sigminer::get_sig_similarity` in your R console to see the doc.

[2020-01-23 18:03] sahuno commented on #403
@PoisonAlien please any update on this?
I have .maf files generated with foncotator but can't get maftools to read  it.
Thanks for your support!

[code]

[code]

[2020-01-24 10:22] beginner984 opened #462 "Extending Somatic Interactions to Pathway interaction"
Hi

Is it possible to get same thing like `Somatic Interactions` for `Oncogenic Signalling Pathways` ? I mean co-occurrence or mutually exclusiveness for pathways instead of genes within or among maf files

Thank you

[2020-01-24 12:52] PoisonAlien commented on #460
I have only merged changes made to `detectKataegis` and plot saving part of the PR. I couldnt accept modifications regards chromosome names since it breaks several function which rely on the presence/absence of `chr` prefix. I understand the current implementation is not perfect, and I should be using factors/levels - but for now I am going to keep it that way. Slowly I will change them. Thank you

[2020-01-24 19:46] tingchiafelix commented on #363
Hi,
I'd like to follow up this legend issue. Do you guys fix that? I see the same question.

[2020-01-24 21:54] sahuno commented on #397
Dear all,

`vcf2maf` came with its own problems while installing on our servers/getting it to work.

Use `read.delim()` function in `R` to first read the .maf file generated by **funcotator** (specifying these options) and then parse it to `read.maf()` function to get a maf object.

Example codes below;

[code]

you can use this to merge multiple `.maf` files produced by `foncotator` and use `maft

[2020-01-25 08:07] ShixiangWang commented on #363
Still wait a fix.

[2020-01-27 19:06] beginner984 commented on #453
Sorry

The newly implemented pairwise t-test in tcgaCompare function compares `Median_Mutations` , `Median_Mutations_log10` or `total` ?

[2020-01-28 12:36] PoisonAlien commented on #453
Hi,
Test is performed based on the `capture_size` argument. If you provide `capture_size` then differences in mutation rate per mb is estimated. Or it would simply be total. You can check the messages while running.

[code]

Log10 is used only for visualisation and nothing else.

[2020-01-28 12:40] PoisonAlien commented on #403
Hi,
Sorry for the late reply. I do not have a sample funcotator for clear checking, do you think you can share one? You can remove any personal info. Also I came across this [tweet](https://twitter.com/RiyueSunnyBao/status/1208187652408774657?s=20) about empty quotes in funcotator output being the culprit. Maybe you can check it?

[2020-01-28 13:31] PoisonAlien commented on #457
Hi,
Sorry for late reply and thank you for the suggestion. I have fixed it, please do try. I am closing the issue for now, please feel free to reopen if necessary.

[2020-01-28 13:34] PoisonAlien commented on #397
Okay found a workaround. `data.table` has a quote argument which helps. Could you please try again and let me know if `read.maf` works on your funcotator output? You will have to re-install from Github.

[2020-01-28 13:34] #457 closed

[2020-01-28 13:36] #460 closed

[2020-01-28 15:01] PoisonAlien commented on #458
Hi,
I think I have fixed it (havent tested it). Could you please try again and let me know if this helps (you will have to install from GitHub)?
Thanks for reporting.

[2020-01-28 15:38] beginner984 commented on #453
Thank you. My actual question roots from here whether t test is suitable for total count comparison among groups or not, I then asked about log because I thought by that you try to make the distribution of number of mutations per Mb close to a normal distribution for using t test. Somewhere I have seen people for comparing such a raw count use wilcox test that is why I was seeking for a clue for t

[2020-01-29 11:33] beginner984 opened #463 "Combining GISTIC and copy number"
Hi

I want to show my copy number changes and GISTIC in one plot but each time I can show only one of these

For example this is for copy number
![Rplot01](https://user-images.githubusercontent.com/43682980/73354284-40034700-428d-11ea-9e7c-67b5aa9fcf35.png)

And this is when I add GISTIC

![Rplot02](https://user-images.githubusercontent.com/43682980/73354369-76d95d00-428d-11ea-92ee-b12d9ab1cfd5.pn

[2020-01-29 13:33] beginner984 opened #464 "Confusion from forestPlot"
Hi

Sorry whatever I try to get the logic of forestPlot I fail. What are you putting into the odds ratio? I can see this as odds of having the PML gene, but odds ratio has me confused. Why odd ratio is negative (apart from taking log)

![untitled](https://user-images.githubusercontent.com/43682980/73360897-c45cc680-429b-11ea-9e86-d19b6d59a12e.png)

Thank you for any help

[2020-01-29 14:31] PoisonAlien commented on #464
Hello,
Odds ratios are from Fishers exact test estimated from `mafCompare` function.

[code]

In the above list `results` contains details about fishers output. Simple way to interpret the first row is that the odds of observing  `PML` gene in `Primary` APL is quite low (0.03 times than in relapse). Similarly, 4th row, odds of observing `FLT3` in primary is quite high (3.56 times more likely than

[2020-01-29 14:53] beginner984 commented on #464
Thank you very much

Quite explanatory

In my case

![Picture1](https://user-images.githubusercontent.com/43682980/73367177-11926580-42a7-11ea-9156-e8293f143ac7.png)

[2020-01-29 15:08] PoisonAlien commented on #464
`7 out of 94` is significantly different from `7 out of 31`

[2020-01-29 15:10] #464 closed

[2020-01-29 15:58] tingchiafelix commented on #346
Hi,
Thanks for adding these margin funcitons. I'm wondering if you can also add margin function for annotation legend? I definitely can reduce the size of annotation font size, but the size looks so small.

[2020-02-02 11:42] PoisonAlien commented on #346
Hi,
Sorry for the delay. I have added `legend_height` argument to oncoplot. You can increase it to your wish and default value 4. Please try and let know of this helps. Thanks.

[2020-02-02 21:24] MaryGoAround opened #465 "Help with oncoPlot"
Hi

In oncoPlot how I can know the specific  `TumorSampleBarcode` from oncoPlot?

Please look at these oncoPlot drawn by
`oncoplot(maf = laml, top = 10,  showTumorSampleBarcodes = TRUE)`

![Rplot124](https://user-images.githubusercontent.com/60115705/73615653-862f1200-45cf-11ea-93fe-d1513591ef1f.png)

If I want to know the `TumorSampleBarcode` of some highly mutated samples how I can know when `Tu

[2020-02-03 08:29] PoisonAlien commented on #465
Hello,
Its always tricky when you have lots of samples. You can do two things. Play around `barcode_mar` and `SampleNamefontSize` arguments. Also save your plot to high res pdf with large height and width.

[2020-02-04 10:26] beginner984 opened #466 "Discrepency of segment mean and GISTIC oncoplot"
Good morning

I have read gistic results along with MAF and by

[code]

I have this

![Picture2](https://user-images.githubusercontent.com/43682980/73735691-94983d80-4737-11ea-9027-dd2921a10387.png)

I also have read CN alterations and by

[code]
I have

![Picture1](https://user-images.githubusercontent.com/43682980/73735842-c7dacc80-4737-11ea-9569-5b01ecaaff34.png)

If you please look at these pl

[2020-02-05 20:49] elenapapaleo opened #467 "oncodrive and OncodriveCLUSTL"
I was interested to try the oncodrive function but I noticed that the OncodriveCLUST is now outdated (see a message on the corresponding webpage:http://bg.upf.edu/group/projects/oncodrive-clust.php) and that now there is new algorithm OncodriveCLUSTL so I was wondering if it will be or not implemented in maftools to decide how to proceed.

[2020-02-06 06:23] biobug16 commented on #81
Can any of you please guide how can I add sample/tumor_sample barcode in already generated MAF?

[2020-02-06 09:11] PoisonAlien commented on #81
Hi,
If you have already generated the MAF, it should already have the `Tumor_Sample_Barcode` column.

[2020-02-06 09:23] PoisonAlien commented on #467
Hi,
Thanks for pointing it out. I was not aware of the updates made. However, I have not immediate plans to implement it into maftools :|

[2020-02-06 12:53] biobug16 commented on #81
@PoisonAlien ,
Yes it has. But all my samples have same string “Tumor” in that column. Can i replace it with the sample name, as I want merge all these MAF in-order to make an oncoplot.

[2020-02-06 13:18] PoisonAlien commented on #81
If you have used `mergeMafs` for merging, can you check if your (merged) maf has a column called `Source_MAF`? Maybe you can use it as a sample name by renaming it to `Tumor_Sample_Barcode`

[2020-02-06 15:04] biobug16 commented on #81
Hi @PoisonAlien
After merging 3 MAF files into 1, I got following columns in my merged MAF:
[code]

But cannot locate the Source_MAF column in it.
Please have a look.

[2020-02-06 15:06] PoisonAlien commented on #81
Can you post your command? Also are you merging `maf` objects or `files`?

[2020-02-06 15:09] biobug16 commented on #81
Here are these
[code]

[2020-02-06 15:14] PoisonAlien commented on #81
No need to perform first three steps. Just pass all your `maf.gz` to `merge_mafs` function. Let me know if you still have issues (which I think will be the case :|)

[2020-02-06 15:15] biobug16 commented on #81
Ok will try and update you on this.
Thanks!

[2020-02-06 16:40] biobug16 commented on #81
Hi @PoisonAlien
Thank you, now I can see the **Source_MAF** after merging files instead of MAF object.

I have another question related to oncoplot(), I am using following command to rename my samples:
`maf_merged@data$Tumor_Sample_Barcode=maf_merged@data$Source_MAF`

Will that be enough or do I need change something else before parsing the maf_merged object to oncoplot()?

[2020-02-06 17:58] PoisonAlien commented on #81
This should work just fine. You may want to do the same for `maf_merged@maf.silent` slot.

[2020-02-07 19:53] ruolin opened #468 "readin error for gzipped maf"
I just started to use R maftools. It is a great package, however there seems to be a bug when reading gzipped maf.
For example, using this public file from TCGA https://portal.gdc.cancer.gov/files/995c0111-d90b-4140-bee7-3845436c3b42
Version: maftools_2.0.16

reading using maftools yields 75811 records
        `nrow(tcga.brca.somatic.maf@data) `

however using fread yields 120988 records.
I have s

[2020-02-07 20:36] PoisonAlien commented on #468
Hi,
Thanks for using maftools and I am glad you find it useful. Regading the issue, `MAF` object includes only non-synonymous variants under `@data` slot, rest synonymous goes under `@maf.silent` slot. If you add up both it should be equal to your original number of rows.

[code]

[2020-02-08 00:32] Hchang77 opened #469 "[estimateSignatures] error"
Hello

I  run the example codes for maftools. ( TCGA LAML MAF file)

I have error message when I try estimageSignatures.

I can get successful results when I try other analysis with NMF package.

Regards,

############

laml.sign = maftools::estimateSignatures(mat = laml.tnm, nTry = 6)
-Running NMF for 6 ranks
Compute NMF rank= 2  ... Timing stopped at: 1.21 0.02 2.98
ERROR
Compute NMF rank= 3  ..

[2020-02-08 03:36] ShixiangWang commented on #469
please load NMF package firstly.

[2020-02-08 14:36] #468 closed

[2020-02-08 15:16] ruolin commented on #468
Great. Thanks.

[2020-02-10 09:10] Hchang77 commented on #469
Thank you for your rapid response.
I re-installed the NMF package and re-try the estimageSignatures according to your response.
However, I got the error again.
Can I ask you another solution for this?

[2020-02-10 09:47] ShixiangWang commented on #469
@Hchang77 I see you used the example data. Could you show all commands, your R session and their output here?

like

[code]

[2020-02-10 09:53] PoisonAlien commented on #469
Maybe use the `pConstant = 0.1` and see if it helps.

[2020-02-10 10:05] ShixiangWang commented on #469
@Hchang77 Yes, try @PoisonAlien suggested,  the example data should add a small constant for avoiding the problem from NMF decomposition. I think `pConstant = 1e-9` is okay.

[2020-02-11 03:16] Hchang77 commented on #469
Thank you for the nice anwer. The problem was solved.
And Thank you to the researchers  who made this wonderful program.

[2020-02-11 03:16] #469 closed

[2020-02-11 12:21] Hchang77 opened #470 "[SurvGroup] hr (hazard ratio)"
Hello

I try your example (TCGA LAML MAF file) according to your introduction.
When I run the code  'SurvGroup'  for LAML data, I get the results as below (which is the same as those in your introduction)

SurvGroup function is to get the genes which are associated with POOR survival.
However, three gene sets in the results are related with GOOD survival, because hr (Hazard ration) is below 1. (al

[2020-02-11 12:53] PoisonAlien commented on #470
Hi,
`SurvGroup` simply returns the p-value and HR for combination of genes. You will have to interpret the results. In the above case first two rows would be of interest solely based on p-values.

[2020-02-12 01:21] Hchang77 commented on #470
Thank you for your answer.
Can I ask you one more question for survGroup?
The results for gene-set depends on the top value.
survGroup(..., top= 20,...)

For example with  TCGA LAML MAF file, top five gene-sets were different between top=20 and =5.

# top=20
   Gene_combination P_value    hr  WT Mutant
 1:      FLT3_DNMT3A 0.00104 2.510 164     18
 **2:      DNMT3A_SMC3 0.04880 2.220 176      6**

[2020-02-12 04:00] DarioS opened #471 "Setting Altered Changes Annotation Colour Order"
Changing nothing else apart from the value of `altered`, the clinical data colouring swaps labels (for WGD but not for the second variable).

![image](https://user-images.githubusercontent.com/631218/74301479-4c1bf800-4da7-11ea-9836-7f8b48f52c6b.png)

This seems unintended.

[2020-02-12 07:40] PoisonAlien commented on #470
`top` argument corresponds to number of top highly mutated genes. As in top rows of `getGeneSummary()` output.

[2020-02-13 08:15] Hchang77 commented on #470
Thank you for your detailed response.
I understand that  firstly, survGroup function selects the candidate genes according to  the mutation frequency (in the top 20) and then calcutates gene-sets with significant P-value for survival.

[2020-02-13 08:15] #470 closed

[2020-02-13 23:44] jaybee84 commented on #387
Hi @PoisonAlien, I am having this same issue within a shiny app. I have updated to the latest github version of maftools but the problem persists.

[code]

[2020-02-15 15:18] ShixiangWang opened #472 "Question about the meaning of mutation percentage in oncoplot"
Dear @PoisonAlien,

I created an oncoplot with `MutSig` and `GISTIC` results included, like http://bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/oncoplots.html#04_including_significance_values, but the percentage seems not right.

![image](https://user-images.githubusercontent.com/25057508/74590205-5fe58980-5047-11ea-8ff7-13171727ecf5.png)

What's the meaning of mutation perce

[2020-02-15 15:36] ShixiangWang commented on #472
I just created an oncoplot without GISTIC2 data.

![image](https://user-images.githubusercontent.com/25057508/74590725-e734fc00-504b-11ea-9089-dd410a1ee209.png)

I think the problem comes from plotting function.

[2020-02-15 21:00] MaryGoAround opened #473 "Ignoring variants in copy number altered regions"
Hello

I am trying to adjust my VAF regarding copy number but I am getting this error permanently

[code]
[code]
Please may you look from where roots this error?

[2020-02-19 00:21] jaybee84 commented on #387
Update to https://github.com/PoisonAlien/maftools/issues/387#issuecomment-586027004, explicitly calling shiny::renderPlot helped fix the problem. Thanks!

[2020-02-21 02:15] ShixiangWang commented on #473
@MaryGoAround  You segment file seems not right. It has extra row index.

[code]

Could you remove the first column of segment file and try again?

[2020-02-21 15:39] MaryGoAround commented on #473
Hello,
Thank you so much

I don't that but again the same error

[code]

This is my full copy number data and maf object

Please could you try that yourself, you may finally solve the problem
My supervisor has asked me to adjusted copy number on VAF to get better MATH score but for one month I am failing by this error

This is my full copy number
https://www.dropbox.com/s/c6nakybvhwzgj4z/df_res.tx

[2020-02-21 16:52] ShixiangWang commented on #473
Okay I will take a try, and let you know

[2020-02-22 06:37] ShixiangWang commented on #473
@MaryGoAround I think I have fixed the bug. Please install the fixed version with:

[code]

However, I found your data are not suitable for using copy number data.

Try checking code:

[code]

Session:

[code]

[2020-02-22 12:27] beginner984 commented on #473
Thank you, finally worked

Says

[code]
Sorry why you are saying: data are not suitable for using copy number data?

You think I have done something wrong during producing my segment file?

You think what could be the reason?

Thank you for helping

[2020-02-22 12:56] ShixiangWang commented on #473
@MaryGoAround I debugged with your data, so I knew how your variants filtered step by step and left nothing. Most of the variants are filtered due to no corresponding data and some of them are filtered due to CNV.

[2020-02-22 13:03] ShixiangWang commented on #473
If copy number profiles for your samples have no problems, it may be the genomes affected by CNV badly and cannot find variants in copy number neutral regions. In this situation, I would like to suggest you just use results with no copy number data or switch to another method that can directly account for copy number variations.

[2020-02-22 13:26] beginner984 commented on #473
Sorry how I can change the minimum of mutation in inferHeterogeneity function in a way to force the function to work for me?

[2020-02-22 13:49] ShixiangWang commented on #473
I don't get your point...

[2020-02-22 14:04] beginner984 commented on #473
sorry in function page I see

[code]

I tried to change 3 to 1 but I got error

[2020-02-22 14:18] ShixiangWang commented on #473
It will not work because your **all variants** have been filtered out.

[2020-02-22 14:20] ShixiangWang commented on #473
Now you need to check your copy number data instead of modifying this function

[2020-02-25 20:14] aditisk opened #475 "Extra sample detected in merged MAF File"
Hello, I am new MAFtools user and I'm having trouble with loading my MAF files.

I am using "cat" to combine my MAF files into a single MAF. I have set the tumor_sample_barcode and I should have 14 samples. However, MAFtools is reading it as 15 samples with 1 sample having an "unknown" tumor_sample_barcode.

Any thoughts on why this might be happening and how to fix this ? Thanks.

[2020-02-26 02:16] ShixiangWang commented on #475
You can read your data with fread and check the column for sample. I think this is not a maftools issue

[2020-02-27 10:56] Tato14 opened #476 "Add more than one additionalFeature in oncoplot"
As you mention in the code, you can add `additionalFeature` using "a vector of length two indicating column name in the MAF and the factor level to be highlighted". Is it possible to add more than one `additionalFeature` pair with and specific `shape` or `color` for each? Following your example:

Intead of: additionalFeature = c("Tumor_Seq_Allele2", "C")
Use: additionalFeature = c(("Tumor_Seq_Alle

[2020-02-27 16:53] aditisk commented on #475
@ShixiangWang I'll try that. Thanks for the suggestion.

For a different project I'm having a similar issue of an extra sample being detected. In the output of getSampleSummary() I see 21 samples but in the Oncoplot (attached here) the sample number is 22. Why is this happening ?

Thanks for your help.
![Rplot](https://user-images.githubusercontent.com/15878219/75466141-bad88400-5957-11ea-9e60-dcb

[2020-02-27 19:01] aditisk commented on #475
I just realized that there are 21 columns in the Oncoplot which is correct. Are the % on the right side don't seem correct unless there is some rounding off ? Like for TP53, 45% is correct if we consider 22 samples but it should be 47% for 21 samples (which is the actual number of samples).

[2020-02-28 08:03] PoisonAlien commented on #471
Hello,
Sorry for the delay in getting back. Can you post your command? Does it happen when you manually provide colours for annotations?

[2020-02-28 08:05] PoisonAlien commented on #476
Hello,
With the current implementation it is not possible. But I am happy to implement it. I will update it and let you know.

[2020-02-28 08:10] PoisonAlien commented on #475
Hello,
`read.maf` can read multiple maf files. If you dont want to `cat`, you can just pass all your mafs to the function and it should just work fine. Or there is also a function `merge_mafs()` for merging several mafs into a single entity.

For the second question, I guess its due to that `unknown` sample being counted. You can check this with `getSampleSummary()`.

[2020-02-28 08:16] PoisonAlien commented on #472
Hello @ShixiangWang ,
Sorry for the delay. I will look into it..

I doubt the same..

[2020-02-28 08:22] PoisonAlien commented on #387
Hello @jaybee84 ,
Sorry for the delay. Good to know that the issue was fixed. Please let me know if there is anything I can help you with..

[2020-02-28 08:28] #466 closed

[2020-02-28 08:45] ShixiangWang commented on #475
I agree with @PoisonAlien. I counted several times for columns of oncoplot, 21 is right as shown by the text `21 of 22`. The plot tells you the gene mutations cover 21 samples but the total sample number 22 is used by percent calculation. This issue comes from data but not plot.

[2020-02-28 12:53] aditisk commented on #475
Hello @ShixiangWang and @PoisonAlien.

I think there is some confusion here. The “unknown” sample was getting detected for a different project. For that, I’ll try the functions mentioned by @PoisonAlien instead of cat to merge MAFs.

The plot above is from a different project where I don’t have the issue of an “unknown” sample being detected. In the summary I see 21 samples but the plot header say

[2020-02-28 12:55] PoisonAlien commented on #475
Can you try `getSampleSummary` and check the entries under `Tumor_Sample_Barcode` column? It should list all 22 sample names, including the extra culprit.

[2020-02-28 13:37] aditisk commented on #475
![image](https://user-images.githubusercontent.com/15878219/75552957-71df0900-5a05-11ea-9bc1-3726ba36447f.png)

As you can see, there are only 21 samples here.

[2020-02-28 15:43] PoisonAlien commented on #475
I see. I cant seem to guess the possible issue. Can you draw the plot with following arguments and see if it still shows 21 samples (columns)?

[code]

[2020-02-28 15:47] aditisk commented on #475
![Rplot01](https://user-images.githubusercontent.com/15878219/75562959-7a403f80-5a17-11ea-863f-7c4a1d80e676.png)

It now shows 22 columns. Where is the "_Barcode" coming from since it is not in the summary ?

Thanks for your help in getting this sorted out.

[2020-02-29 07:20] PoisonAlien commented on #475
It's there in the maf. However it doesn't seem to have any non-synonymous variants hence its not showing up in the main maf slot. You will have to check in you maf file for more details. I am guessing its due to the merging of the multiple files.

[2020-02-29 12:59] ShixiangWang commented on #475
I think the data is small. Could you provide here for checking？

[2020-02-29 15:28] aditisk commented on #475
![Rplot02](https://user-images.githubusercontent.com/15878219/75610285-f309cf00-5add-11ea-8b4e-7d76461246f9.png)

Hi @PoisonAlien and @ShixiangWang. I finally was able to figure out what was causing the issue. When I used "cat" to merge by MAFs, I deleted all lines with # but each MAF file still had a header. As a result, I had 21 headers in the merged MAF file. Those repetitive header lines were

[2020-02-29 15:40] #475 closed

[2020-02-29 21:46] Kevinhokahey opened #477 "Problems in mafSurvival"
Hello
This is Kevin. Thank you so much for this package. It is wonderful. I download TCGA-LUAD maf data from TCGA and try to learn more of this package. In the process of survival analysis, I tried to use mafSurvival to compare the survival outcomes of different genes. Unfortunately, it showed as below:
Median survival..
Group medianTime N
1: WT 626 772
Error in survdiff.fit(y, groups, strata.keep

[2020-03-01 08:33] PoisonAlien commented on #477
Hello Kevin,
Could you please post your full command? Also check if your gene of interest is really mutated or not.

[2020-03-01 09:02] Tato14 commented on #476
That would  be awesome! Thanks!

[2020-03-01 15:20] Kevinhokahey commented on #477
Hello. The full commands are as follow:
`> luad.clin="clinical.tsv"

data<-rename(data,c("Tumor_Sample_Barcode"="submitter_id"))

I changed the column name of the clinical data table and coded the vital status as "1/0".  Then I try to do a survival analysis in gene TP53. I believed this gene must be mutated. But after I typed in all these commands, it turned out to be only 1 group.

BTW, if I chan

[2020-03-01 15:23] Kevinhokahey commented on #477
Hello. The full commands are as follow:
`
luad.clin="clinical.tsv"
luad.maf="TCGA.LUAD.maf.gz"
library(maftools)
luad<-read.maf(maf=luad.maf)
data<-read.table(luad.clin,sep="\t",header=TRUE,stringsAsFactors = FALSE)
library(dplyr)
data<-rename(data,c("Tumor_Sample_Barcode"="submitter_id"))
data$days_to_last_follow_up=as.numeric(data$days_to_last_follow_up)
data$vital_status[data$vital_status=="Dea

[2020-03-01 15:55] ShixiangWang commented on #477
Could you try set status to integer instead of character?

[code]

If still get an error, please print the output of the following commands:

[code]

[2020-03-01 16:16] PoisonAlien commented on #477
Okay let me try downloading the data from GDC and see if I can reproduce the issue.

[2020-03-01 16:19] Kevinhokahey commented on #477
Thanks for your reply. I try to set status to integer following your suggestion. But the error still exists.
The output is as follow:
           Tumor_Sample_Barcode Frame_Shift_Del Frame_Shift_Ins In_Frame_Del In_Frame_Ins
  1: TCGA-17-Z031-01A-01W-0746-08              35               8            3            0
  2: TCGA-05-4382-01A-01D-1931-08              32              13            2

[2020-03-01 16:24] Kevinhokahey commented on #477
Thank you so much. The file I downloaded from TCGA is TCGA.LUAD.mutect.0458c57f-316c-4a7c-9294-ccd11c97c2f9.DR-10.0.somatic.maf.gz. And its clinical data which is  a zip contains clinical.tsv.
I used Mac Terminal gdc_client to download the data.

[2020-03-01 16:44] PoisonAlien commented on #477
Seems to work for me.

[code]
Can you try with above commands on your end?

[2020-03-01 19:03] Kevinhokahey commented on #477
Seems to work for me as well~ You are amazing!
But I really have no idea why it did not work at the first time. I think there must be something wrong with my commands but I am just not good enough to find it.
Thank you so much for your help!

[2020-03-02 00:20] DarioS commented on #471
I could not trigger it using a minimal example, so you'll need to load the attached R objects [testData.zip](https://github.com/PoisonAlien/maftools/files/4272820/testData.zip) The command is

[code]

Just add `altered = TRUE` to get the swapping of WGD legend.

[2020-03-02 07:34] PoisonAlien commented on #471
Thanks for the data. I can reproduce it. I will take a look into it soon. Meanwhile you can use `annotationColor` argument to define color codes which should maintain the correct color order.

[code]

[2020-03-02 07:35] #477 closed

[2020-03-02 09:43] PoisonAlien commented on #476
Hello again,
I have pushed some changes which should add help to map more than one additional features. Could you please try and let me know if it works for you? example usage is as below. `additionalFeature` should be a list of vectors to be highlighted. Below example will highlight all variants on chromosome 13 and mutated to C.

[code]

Hope this helps.

[2020-03-02 09:55] Tato14 commented on #476
Hi,

Seems that it doesn't work for me:

[code]

[2020-03-02 09:59] PoisonAlien commented on #476
Just to be sure, you installed it from GitHub again rite?

[2020-03-02 10:18] Tato14 commented on #476
It worked in my laptop. I am not sure if there is some R version problems. In any case the code you pushed works nicely :smile:
Thanks

[2020-03-02 10:21] PoisonAlien commented on #476
Thanks for checking. I am closing the issue for now, please feel free to reopen if necessary.

[2020-03-02 10:21] #476 closed

[2020-03-04 19:51] xiw588 opened #478 "removing duplicates"
Hi, When I run annovarToMaf using the txt file generated by ANNOVAR, I got the message that 693 duplicates were removed. I am wondering what are the standards for removing duplicates here and if there is any way to prevent it from removing the so-called duplicates if I don't want it to since there are not exactly the duplicates based on my criteria.

Thank you.

[2020-03-05 07:53] PoisonAlien commented on #478
Hello,
Duplicates are [removed](https://github.com/PoisonAlien/maftools/blob/master/R/validateMaf.R#L26) based on variants occurring at same position in the same sample. If you dont want to remove them, then just convert your txt files to maf data.frame with `MAFobj = FALSE`. Then pass the resulting data.frame to `read.maf` function with argument `removeDuplicatedVariants = FALSE`. Hope this helps

[2020-03-05 16:51] xiw588 commented on #478
Thank you for your quick response. It works! But I am still a bit confused since I looked back to the original dataset generated by ANNOVAR and actually I didn't see the removed rows were duplicated based on the definition you gave here. So the sample here is the subject, right?

Thank you for your help.

[2020-03-05 19:39] xiw588 commented on #478
And also, do you know how to change the margin of the figure (either for oncogenic pathways) and oncoplot with gene names cropped.
![Screen Shot 2020-03-05 at 2 35 28 PM](https://user-images.githubusercontent.com/31411260/76018996-0ad2c000-5eef-11ea-90ca-0beb6f5b4e05.png)

[2020-03-06 07:28] PoisonAlien commented on #478
Hi,
Yes, sample here means the subject. For oncoplot you can use `gene_mar` argument to increase the default space. See `?oncoplot` for more details.

[2020-03-06 20:14] biobug16 opened #479 "Filter based annotation of variations in a MAF file"
Hi @PoisonAlien I am a newbie.
I have maf files from our collaborators and want to perform variant effect prediction using PolyPhen , SIFT etc. Is there a workflow which I can follow to further annotate the effects of variations in the MAF files, may be using filter based annotation from annovar. I found many posts related to annovar to maf conversion but could not find anything for the reverse.
K

[2020-03-07 01:55] lamz138138 commented on #307
@JulyJly Hi, I want to know how mafcompare decide whether the gene is mutated in the sample? From the code, it seemed the gene is mutated if it have one mutation, no matter it is intron, exon, synonymous mutation or nonsynonmouse mutation, am I right?

Thanks in advance!

[2020-03-07 02:07] lamz138138 commented on #307
@PoisonAlien  Hi, I want to know how mafcompare decide whether the gene is mutated in the sample? From the code, it seemed the gene is mutated if it have one mutation, no matter it is intron, exon, synonymous mutation or nonsynonmouse mutation, am I right?

@JulyJly I'm suppose to mention PoisonAlien, so I delete previous post, sorry!

Thanks in advance!

[2020-03-07 02:17] ShixiangWang commented on #479
VEP may be good for you

[2020-03-08 07:45] PoisonAlien commented on #479
Hello @biobug16 ,
As suggested VEP would be a good option. You could also use [vcf2maf](https://github.com/mskcc/vcf2maf) which would directly take your maf and runs vep on it. Since this is not really tool related question I am closing this issue.

[2020-03-08 07:45] #479 closed

[2020-03-08 07:56] PoisonAlien commented on #307
Hello @lamz138138 ,
`mafCompare` only uses any number of nonsynoymous mutations. Silent mutations are not counted.

[2020-03-09 07:54] #478 closed

[2020-03-09 10:07] carcarre11 opened #480 "lollipopPlot2 error if there are not any mutation"
Hi,
First of all congratulations because maftools is amazing. I could see that in lollipopPlot2 when you are comparing two different maf, there is an error if one of the maf has no mutations in the gene selected. In some cases, if you are comparing two maf files is because you would like show differences in the mutational phenotype between these two maf , showing that in one group there are mutati

[2020-03-09 10:24] PoisonAlien commented on #480
Good point indeed. Thank you for the suggestion. I will fix it soon.

[2020-03-09 17:23] beginner984 opened #481 "Ambiguity regarding GISTIC score"
Hi

I have plotted my GISTIC2 data by

`gisticChromPlot(gistic = laml.gistic, markBands = "all")`

And I obtained such a plot

![Picture1](https://user-images.githubusercontent.com/43682980/76239933-4987b380-622a-11ea-847f-3404ad986bb6.png)

We are seeing some peak with negative GISTIC score (deletion)

But, when I look at my scores.gistic output file by GISTIC I am seeing no negative value in sco

[2020-03-11 10:11] PoisonAlien commented on #480
Hello,
Thanks again. I have fixed the issue. Could you please install again from GitHub and let me know if it works for you?

[code]

[2020-03-11 10:15] PoisonAlien commented on #481
Hello,
If the entry under the column `Type` is `Del` then the scores are negated for plotting purpose.

[2020-03-11 11:16] carcarre11 commented on #480
Hi,
Yes it works perfectly thanks a lot!. Only a little thing, if there are not any mutations in a gene in both maf the error message is  'At least one of the maf should contain mutations'. I would print also the gene name, it would be useful when you call the function in a loop with a list of interesting genes in which you don't know the mutation status in the groups before, to eliminate it from

[2020-03-11 14:35] beginner984 opened #482 "Is it possible to report p-value for mutational signature"
Hi

I have obtained mutational signature from my samples like below

![Rplot09](https://user-images.githubusercontent.com/43682980/76427967-83a3a300-6359-11ea-970e-bcfd8f47f493.png)

![Rplot10](https://user-images.githubusercontent.com/43682980/76427987-89998400-6359-11ea-9ae2-c70c8e6d725a.png)

You are please seeing, signature 1 fits to COSMIC_2 with 0.89 similarity but you also see only one samp

[2020-03-11 14:42] PoisonAlien commented on #482
Hello,
As far as I know, it is not possible to calculate OR or P-value for [cosine similarity](https://en.wikipedia.org/wiki/Cosine_similarity). Feel free to correct me if I am wrong or point me to a reference, I am more than happy to implement it.

[2020-03-11 14:42] #481 closed

[2020-03-11 14:43] #465 closed

[2020-03-11 15:06] beginner984 commented on #482
Thank you so much

Actually I showed my output to the writer of this paper

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5957269/

And she pointed this to me as a co-author for the data we submitted to ISDE congress

However in this website they are likely using p-value to report the best solution

https://signal.mutationalsignatures.com/analyse/jobs/Example/sample/Sample

They are saying

`The al

[2020-03-11 15:20] PoisonAlien commented on #482
I am not really aware of the tool you are referring and I cannot comment on its output. Regardless, I would also suggest you to try tools like deconstructSigs if your goal is to get signature proportion per sample.

[2020-03-11 15:27] ShixiangWang commented on #482
The functionality provided by maftools focus on signatures identified from a group of samples. If you want to check if a signature exists in a sample, as @PoisonAlien suggested, you should find other tools, like the new paper used the bootstrapping.

[2020-03-11 16:21] beginner984 commented on #482
Thank you both but maftools also provides signature proportion per sample as in this picture
![Rplot10](https://user-images.githubusercontent.com/43682980/76439497-f2d4c380-6368-11ea-800e-136cc1d27610.png)

[2020-03-12 02:00] ShixiangWang commented on #482
This is signature per cluster

[2020-03-12 11:33] beginner984 commented on #482
Thank you

I think it's great

Can we make a stack plot of that to show exposure proportion?

[2020-03-12 12:10] ShixiangWang commented on #482
@beginner984 Use `show_sig_exposure(sig)`

If you have any problem, you can open an issue at https://github.com/ShixiangWang/sigminer/issues, hope this helps you close the issue here.

[2020-03-12 13:55] beginner984 commented on #482
Thank you @ShixiangWang

Where I can find a tutorial on your package?

I found this

https://shixiangwang.github.io/sigminer-doc/references.html

But that is empty

I mean something to use all of the capability of your package like the same maftools offers

I can find individual R codes in your git but I can not follow that well

Thank you

[2020-03-12 13:55] #482 closed

[2020-03-12 14:42] PoisonAlien commented on #482
Hello @beginner984 ,
Here is how those barplots are drawn just to clarify certain things.
1. Estimate de-novo signatures with `extractSignatures`. In your case there are to 3 signatures.
2. Above step also gives you proportion of each of these 3 signatures in every sample. You can visualise these with `maftools::plotSignatures(contributions = TRUE)`
3. With this matrix of proportions, next step is

[2020-03-12 14:58] PoisonAlien commented on #463
Its not possible to combine both, since these options are mutually exclusive. You can either use GISTIC or custom table.

[2020-03-12 14:58] #463 closed

[2020-03-12 15:01] ShixiangWang commented on #482
@beginner984 See https://shixiangwang.github.io/sigminer/reference/index.html for now, this tool is still under development, and I am writing the doc. sigminer focuses on the signature analysis, currently, I directly use maftools code to generate SNV matrix for NMF. Thank you for your previous work, @PoisonAlien :), I hope this package is worth to be recommended in maftools in the future 😄

[2020-03-12 15:25] #480 closed

[2020-03-12 15:26] PoisonAlien commented on #480
It prints the gene name prior to plotting. Thanks for the suggestions. I am closing the issue now, please feel free to reopen if necessary.

[2020-03-12 23:42] beginner984 commented on #466
Sorry I am still struggling with this confusion

What is your threshold in GISTIC to be called deleted or amplified? I really don't know how describe this for myself

People says that GISTIC scoring for deletion and amplification like 2,1,0,-1,-2 scores come in
all_thresholded.by_gene file which contains these calls for each gene.file but maftools does not use this file to show GISTIC

all_lesions

[2020-03-12 23:50] MaryGoAround opened #483 "Filtering some variants before analysis"
Hello

I am using annular output as input for maftools

Is it possible in any stage to remove 1000 genome common variants common in at least 5% of samples before doing any analysis?

Actually I noticed my samples have a high mutational burden so I think it is more wise to remove gremlin variants before analysis by maftools

Thank you for any help

[2020-03-12 23:55] MaryGoAround commented on #473
@ShixiangWang you were right; my copy number data was not accurate

Sorry what is the point if a gene identified as CN_altered?

Actually my goal from this analysis is: to know if a gene like TP53 is clonal in a group of samples or not, by looking at the plots I see in some samples TP53 is CN_altered and some samples not so I am not sure how I can interpret this results

Please you may help in the

[2020-03-13 04:06] ShixiangWang commented on #473
@MaryGoAround  Maftools either filter out all regions affected by CNV or don't use CNV information.

If you want to know if a gene like TP53 is clonal in a group of samples or not. You can simply check the VAF value, use the feature in  maftools

![image](https://user-images.githubusercontent.com/25057508/76588156-3d993b80-6521-11ea-8608-4751ff16804f.png)

By this plot, you can get a rough result

[2020-03-15 10:01] PoisonAlien commented on #483
Hello,
Please note that `annovarToMaf` function only converts file formats. It does not do any sort of filtering. Having said that it is your responsibility to perform further necessary filtering steps. Have a look at `subsetMaf` function which might help you to filter by certain criteria. But there are no functions to perform specific filtering steps as you suggested.

[2020-03-15 10:01] #483 closed

[2020-03-15 10:41] #473 closed

[2020-03-15 15:57] kaigu1990 opened #484 "Oncoplot and oncomatrix"
Maftools is a perfect tool, I'm used to clinical analysis by maftools
Recently, I find oncoplot don't rely on complexheatmap. There are some discordant layout when I plot oncoplot based on my data. And I also have some personal need, so I update oncoplot and oncomatrix code. Main changes:

* add anno_height feature to adjust the height of annotation layout
* Adjust the space between each legends b

[2020-03-16 08:06] ShixiangWang commented on #484
@kaigu1990 Kai, you should provide a pull request instead of an issue.

I am curious why you introduce white space?

![image](https://user-images.githubusercontent.com/25057508/76735480-f4a2ea80-679f-11ea-9d17-bc3452205373.png)

[2020-03-16 08:26] ShixiangWang commented on #466
@beginner984 I got your email. I cannot find a problem with the two plots above. Could you show some of your custom copy number data?

[2020-03-16 08:53] ShixiangWang commented on #466
@beginner984 I also check the code to read the gistic2 data. I can tell you that the deletion status comes from all.lesions file. Maftools does not use any threshold to define if a gene altered. The data comes from gistic2.

https://github.com/PoisonAlien/maftools/blob/acdfbb638d72ba3084d98425ea446d2735f97dd9/R/readGistic.R#L39-L80

I cannot find any problem in the code. The issue may be raised by

[2020-03-16 12:13] kaigu1990 commented on #484
@ShixiangWang Shixiang, I‘m unfamiliar with pulling request so don't use it hastily.
The query you point out is result that there are some synonymous mutation (not including in maftools) in my MAF data, but I don't add them in vc_nonSyn parameter

[2020-03-16 12:42] PoisonAlien commented on #466
Hello @beginner984 ,
As @ShixiangWang pointed it out, amp or deletion status is obtained from `all_lesions` file based on the [values](https://github.com/PoisonAlien/maftools/blob/acdfbb638d72ba3084d98425ea446d2735f97dd9/R/readGistic.R#L72-L79). For your case, check how many samples have been deleted for `CDKN2A`.

1. Open your `del_genes` file and search for the column containing `CDKN2A` gene. I

[2020-03-16 12:51] #285 closed

[2020-03-16 15:51] MaryGoAround commented on #466
Hi both

I got GISTIC part by maftools but my confusion is when CDKN2A recognised as deleted in 13 samples by GISTIC that does mean in 13 samples peak containing CDKN2A have been selected in 13 samples but segmentation file says that only 3 samples have CKDN2A deleted

My boss asked me to find the reason but I can not :(

[2020-03-16 16:04] PoisonAlien commented on #466
Unfortunately I can not answer for these discrepancies. The function only sees whats present in the GISTIC output.

[2020-03-16 16:06] MaryGoAround commented on #466
Thank you @ PoisonAlien :(

[2020-03-16 18:02] ZeroFung commented on #159
I have 151 patients in my clinical data, but only 143 patients in maf file, which means there are 8 patients who do not have any kind of mutation. When I read.maf(), the result only contains 143 patients, and oncoplot show 143 patients too, which make the mutation rate a little bit higher than I expected. Is it possible to make it show a results with 151 patients?

[2020-03-16 19:34] PoisonAlien commented on #159
Hello @ZeroFung ,
Do these 8 missing samples have any kind of mutation? As in synonymous mutations?

[2020-03-17 06:56] ZeroFung commented on #159
No, they don't have any kind of mutation, not even synonymous mutations.

[2020-03-17 13:41] PoisonAlien commented on #159
Can you add some dummy synonymous mutations to your maf for your missing samples. One intergenic variant per sample would be enough.

[2020-03-17 14:03] ZeroFung commented on #159
Good idea. Thanks for the suggestion!

[2020-03-18 09:14] lbeltrame opened #485 "RFE: allow setting y limits in gisticChromPlot"
The reason for this request is that often I get requests from the wet lab that plots should all have the same scale for publication purposes. This is currently not possible in gisticChromPlot.

[2020-03-18 11:00] PoisonAlien commented on #485
Hi,
I have made an argument `y_lims` to the function. Please try it and let me know if it works for you.

Example:
[code]

[2020-03-18 13:09] lbeltrame commented on #485
Works, thanks!

[2020-03-18 13:09] #485 closed

[2020-03-20 10:01] MatthewP-Newbee commented on #3
Hello Tommy, do you know more papers with kataegis detection algorithm?

[2020-03-24 11:47] beginner984 opened #486 "Is this possible to achieve this visualisation by maftools"
Hi

Indeed, this is not an issue with your software rather my query about the possibility of a sort of visualisation

Please, you imagine I have two groups of patients for which I want to look at mutations in a fixed set of genes

That would be great if one could show hits and type of mutation for each gene in each group in a way to be comparable like the below figure

![Picture](https://user-imag

[2020-03-24 12:13] PoisonAlien commented on #486
Well, closest option for you is cooncoplot. Split your maf into `naive` and `treated`. Use `coOncoplot`. You can even compare these cohorts with `mafCompare` to get statistically significant results, and show them as a `forestplot`.
But if you want the exact visualisation, I can implement a function for it. It looks fairly simple.

[2020-03-24 12:33] beginner984 commented on #486
Thank you so much for responding
Please, you imagine for instance the hits for TP53 is definitely different for two groups even by annotation  samples and group them, again hits and mutation type are not separated well
That would be extremely helpful if you go ahead with such a function
Thanks again in advance

[2020-03-25 01:10] beginner984 commented on #486
Hello

I have added GISTIC to mutation to each group

This is oncoplot for first group

![Rplot09](https://user-images.githubusercontent.com/43682980/77491098-bd35dd00-6e34-11ea-8d30-cbc21d339728.png)

And this is oncoplot for second group

![Rplot11](https://user-images.githubusercontent.com/43682980/77491149-df2f5f80-6e34-11ea-9dc8-b4940a71f20e.png)

But when I tried both side by side by this li

[2020-03-25 16:24] PoisonAlien commented on #486
Hello,
Thanks again. I have implemented a function `coBarplot` which should do what you are asking for. Please install from GitHub for the update. Please let me know if this helps.

Example usage with example maf files in maftools:
[code]
![image](https://user-images.githubusercontent.com/8164062/77560135-54df0e00-6ebd-11ea-96d7-69709246d5e4.png)

[2020-03-25 21:10] beginner984 commented on #486
That was simply amazing

Is it possible to sort the genes based on percentage regarding one cohort to make the plot more tidy?

[2020-03-26 04:18] 2236529177 opened #487 "annovar add startloss and startgain as functional consequences that affects the first ATG codon"
annovar  add startloss and startgain as functional consequences that affects the first ATG codon, but maftools does not support this, and some keys in maftools function annovarToMaf is duplicated, like ncRNA

will here add the updates in annoar, thanks a lot.
another question is how somaticInteractions calculate the co-occurence?

![image](https://user-images.githubusercontent.com/25199946/7760971

[2020-03-26 07:06] PoisonAlien commented on #487
Hello,
I can not seem to find `startloss` and `startgain` in annovar [specification](http://annovar.openbioinformatics.org/en/latest/user-guide/gene/#output-file-2-refseq-gene-annotation). Could you point me to the right source.

`somaticInteractions` uses fishers test based odds ratio for co-occurance or exclusive events. Please do refer to publication for more details.

[2020-03-26 09:03] 2236529177 commented on #487
thanks a lot.
1   here is the new update about the startloss and gain
https://doc-openbio.readthedocs.io/projects/annovar/en/latest/
![image](https://user-images.githubusercontent.com/25199946/77627819-6dfdc280-6f82-11ea-8bc9-412d04436177.png)

<br>
2 yes , I have read the output, it used F test, for small numbers, use exact test.
<br>
3
![image](https://user-images.githubusercontent.com/25199946/

[2020-03-26 09:07] 2236529177 commented on #487
![image](https://user-images.githubusercontent.com/25199946/77629304-44459b00-6f84-11ea-9fb5-1aec9542c721.png)

[2020-03-26 09:34] 2236529177 commented on #487
![image](https://user-images.githubusercontent.com/25199946/77631444-8b815b00-6f87-11ea-8834-63af0729fbbc.png)

[2020-03-26 11:16] PoisonAlien commented on #487
Hello,
1. Mutation rate is the ratio of number of samples where a gene is mutated to the total number of samples. Thats an example maf file fromTCGA AML cohort obtained from Brad firehose database.
2. Can;t help here. You will have to wait till it finishes. Also I would not recommend using `oncodriveClust`, it is an old algorithm. There is an updated version from the original developers. See #467

[2020-03-26 12:06] PoisonAlien commented on #486
It keeps the same order of the given genes.
Anyway, I have added `orderBy` argument. Set it `m1` or `m2`. Set it to `NULL` (default) to keep the same order as in `genes`.

[2020-03-26 12:10] PoisonAlien commented on #487
I have [added](https://github.com/PoisonAlien/maftools/blob/master/R/annovarToMaf.R#L103-L104) `startloss` (corresponding to `Translation_Start_Site` in MAF). However I am not sure about `startgain`, so I have set it to `unknown` for the moment. Let me know if you have any idea. Thanks.

[2020-03-26 13:05] 2236529177 commented on #487
thanks  a lot.
about the startgain , I even do not what it is , since start, it should start, why said gain, so maybe  the author kaiwang of annovar knows this.

[2020-03-26 13:53] #487 closed

[2020-03-26 14:21] beginner984 commented on #486
Thank you so much

I don't know why I am getting error

[code]

[2020-03-26 14:37] PoisonAlien commented on #486
I think the error is quite clear. `orderBy` can only be `m1` or `m2`. Not `b`.

[2020-03-26 14:47] 2236529177 commented on #487
when will the startgain be added into the maftools packages
#Install from Bioconductor repository
BiocManager::install("maftools")

[2020-03-26 14:58] #486 closed

[2020-03-26 14:59] PoisonAlien commented on #487
I plan to incorporate these changes in upcoming bioconductor release (should be in April). Meanwhile you can install from GitHub.

[code]

[2020-03-26 17:13] beginner984 opened #488 "weird peak in GISTIC data"
Hello

I saw a peak in deletion but in plot that appears in amplification

![Picture1](https://user-images.githubusercontent.com/43682980/77675218-8ec71780-6f84-11ea-9671-5e4a63b4c395.png)

`6p25.3` has been `deleted` based on GISTIC data but I don't know why shows as amplified

This is my maf object plus to gistic

https://www.dropbox.com/s/3lej3gvq0744k8q/gistic_maf?dl=0

[2020-03-27 03:03] 2236529177 commented on #487
is the data in tcgaCompare of updated as TCGA? the example in https://bioconductor.riken.jp/packages/3.8/bioc/vignettes/maftools/inst/doc/maftools.html#78_plotting_vaf different from the data run by myself, its ylab used TMB directly. so in this case, **you divided
mutaion number in each with 38M(exom length) or something else** ? but you know, always the maf made by ourselfves, always not exome,

[2020-03-27 07:05] ShixiangWang opened #489 "Question about the SBS signature database"
Hello @PoisonAlien,

I use the signature database stored in Maftools as the base of similarity calculation in my package. I found that the sum of a signature in SBS database is not exactly equal to 1.

[code]

So I think there is a little problem. Could you take a check and describe how did you get the signature matrix?

Best,
Shixiang

[2020-03-27 07:22] PoisonAlien commented on #489
Hello,
I obtained it from [COSMIC](https://cancer.sanger.ac.uk/cosmic/signatures/SBS/) which is hosted on [synapse](https://www.synapse.org/#!Synapse:syn11738319)
I think they're generated from sigProfiler.

[2020-03-27 07:26] PoisonAlien commented on #487
Hi please read the documentation for `? tcgaCompare`
There are arguments `capture_size` and `tcga_capture_size` which allows you to provide your custom panel size, and  TCGA exome capture size (default 50mb) respectively. If you do not wish to normalise set them to `NULL` - but it is not a good idea.

[2020-03-27 07:34] PoisonAlien commented on #488
Hi,
Please restrict your questions to bugs and errors. I would strongly suggest that you go through the GISTIC output file formats and their contents.

[2020-03-27 07:34] #488 closed

[2020-03-27 10:51] ShixiangWang commented on #489
Got it：）

[2020-03-27 10:51] #489 closed

[2020-04-02 02:28] ejoffe19 commented on #403
Hi,

Any plan on implementing Funcotator in MAFtools ?
With the deprecation of Oncotator this is extremely needed.

Thanks
E

[2020-04-02 05:59] PoisonAlien commented on #403
Hi,
You can directly use MAF output from funcotator, it should work.

[2020-04-02 13:43] ejoffe19 commented on #403
Thanks, my problem is that I need a wrapper that is capable of annotating similar to your prior Oncotate function which was fantastic.
I have several dataset from different sources and I have been wanting to have them all annotated on the same pipeline.

[2020-04-02 14:07] PoisonAlien commented on #403
`Oncotate` function used to query `Oncotator` web API for annotations. However, funcotator lacks the API feature which makes its impossible to for on-the-fly annotations.

[2020-04-02 21:45] ejoffe19 commented on #403
Are you familiar with Rcwl Pipelines
Maybe it can somehow assist - but I couldn't figure out the input types I need to arrange for it.

BTW, thanks for answering and for an amazing package - really makes my life easier.

[2020-04-03 01:24] Sebbyyy opened #490 "Oncoplot customization"
I was just wondering as I don't know if I am capable of customizing the oncoplot function myself and others may find this useful if you could include a couple of customization options?

- Could you allow the options to include other types of CNVs? I am trying to include Shallow as an alteration but the function does not recognize it. May be useful to be able to customize the CNV names?

- Could yo

[2020-04-03 06:27] PoisonAlien commented on #403
Thanks, and I am glad that you find it useful.
Variant annotations are ideally best done outside the R. Maybe using annovar, vcf2maf or the new funcotator which seems pretty good. Running from within R makes it slower and messy IMO.

[2020-04-03 06:28] PoisonAlien commented on #490
Hello,
Thanks for the requests. I will try my best but second point is unusally tricky to achieve using base R graphics. I will see what I can do.

[2020-04-03 07:14] Sebbyyy commented on #490
I may be very wrong here and i apologize but in my head, couldn't you just assign the mutations to the same properties that the CNV has now and visa versa for the second point? As its just reversing the representations for the CNVs and mtuations.

[2020-04-03 07:18] PoisonAlien commented on #490
If I understand correctly, its just adding borders to mutations and CNVs? Can you post an example or a screencap of TCGA?

[2020-04-03 08:27] Sebbyyy commented on #490
![image](https://user-images.githubusercontent.com/40489027/78340025-c2cfb780-75d8-11ea-870e-1837939bf979.png)

Like that? So it mimics the output you can get from TCGA

[2020-04-05 13:57] jungminchoilab commented on #397
@PoisonAlien Could you please elaborate how to fix this using data.table? I am having the same issue after annotating mutect2.vcf with the funcotator. I also tried suggestions from @sahuno which did not work in my hands.

Thanks so much for making this tool available to the field.

[2020-04-05 15:13] PoisonAlien commented on #397
Hi @jungminchoilab ,
Is its possible to share reproducible sample output file?

[2020-04-05 15:42] jungminchoilab commented on #397
Hi @PoisonAlien, thanks for your prompt response. Please see below and let me know if you are having issues downloading a file.

[an example maf file](https://www.dropbox.com/s/lly272sddnxzm9n/YUL0207P.combined.mutect2.strelka2.funcotated.maf?dl=0)

[2020-04-05 16:02] PoisonAlien commented on #397
Thanks for sharing your file. It seems to work for me. What version of the package are you using?
Another thing I noticed from your file is that the entries in `Tumor_Sample_Barcode` columns are set to `NA`. This will be of trouble, and you will have to populate this column with corresponding sample names.

[2020-04-05 16:15] jungminchoilab commented on #397
Thanks again for checking @PoisonAlien . The version that I installed is maftools_2.2.10. Which one am I supposed to use?

Apparently, funcotator does not annotate tumor sample ID. I will re-annotate it properly. Is normal sample ID also required?

[2020-04-05 16:30] PoisonAlien commented on #397
Could you please install the tool from `GitHub` and try again.
I am considering of adding an argument to `read.maf` for adding sample names parsed from file names - in case `Tumor_Sample_Barcode` columns are empty as in this case. Would that be helpful?
No, normal sample IDs are not required.

[2020-04-05 16:41] jungminchoilab commented on #397
As suggested, I re-installed the tool from GitHub and the version is now maftools_2.3.10 .

I also ran funcotator again and properly annotated a tumor_sample_barcode column (please see below).

[re-annotated maf](https://www.dropbox.com/s/tx4secbal79x2r5/YUL0207P.combined.mutect2.strelka2.funcotated.maf?dl=0)

Unfortunately, I am re-producing the same error message and wonder what might have gone

[2020-04-05 17:06] PoisonAlien commented on #397
You dont have to run `system.file` command. Its only for accessing example files that are bundled with the packages. Juts pass the path to your maf file.

e.g;
[code]

P.S; Maftools would be of little help in case of single sample, you would need two or more samples to take advantage of all the functions.

[2020-04-05 17:15] jungminchoilab commented on #397
@PoisonAlien hmm, same error... and yes, I have multiple cases for the analysis but wanted to troubleshoot with one sample first.

[code]

[2020-04-05 17:25] PoisonAlien commented on #397
I can not think of any reasons why it should give an error. I works for me with the same file.
Anyway could you check following commands:

[code]

[2020-04-05 17:30] jungminchoilab commented on #397
Thanks for your patience, @PoisonAlien ! Now getting another error...

[code]

[2020-04-05 17:33] PoisonAlien commented on #397
No problem. I am sorry that you are getting these errors.
For above error you need to restart your R session and it should be fine.
If you still get an error, do you mind opening a new issue. I don't want to spam others linked with the issue.

[2020-04-05 17:56] jungminchoilab commented on #397
Will do. Thanks so much again for solving this for me.

[2020-04-05 20:48] beginner984 opened #491 "A boolean matrix alteration per gene per sample"
Hello @PoisonAlien

Again, this is not an issue with maftools

How I can obtain alterations in a boolean matrix for a set of genes? I mean in a way where samples are in rows and genes in columns; in such a matrix 1 is if a given gene has altered in a given sample and 0 when there is no altercation in this gene in this sample (regardless of type of mutation)

Thank you in any case

[2020-04-06 06:02] PoisonAlien commented on #491
There is an internal function which does this. You can call it with `:::`

[code]
It will return a list of matrices which includes a `numericMatrix` element which is what you're interested in. Values are integer coded for the variant classification, and those codes are explained in `vc` slot.

[code]

[2020-04-06 12:15] #491 closed

[2020-04-06 12:20] beginner984 opened #492 "Question about rainfallPlot"
Hello

rainfallPlot function returns the most mutated samples if `tsb = NULL` unless we should define the sample name

For a large data set if we want to know how many samples have `Kataegis` to give an overall metric, one has to check samples one by one?

Actually I am confused here; **In a paper author says** `kataegis was observed  in 40 out of 129 samples (31%)`

I am wondering how they know h

[2020-04-06 12:56] PoisonAlien commented on #492
Yes you will have to run the function for every sample in the cohort. Use for loop or lapply to loop over all the samples.

[2020-04-06 14:51] PoisonAlien commented on #472
Hi @ShixiangWang ,
Sorry for the delay, and thanks for noticing the borders for copy-number variants. I have fixed it and it should be consistent with the grid size. Regarding the mutation rate, its a fraction of number altered samples to the total number of samples in the cohort. You can check the altered samples (either mutation or CNV) with  `getGeneSummary`. Hope this helps.

[2020-04-06 15:21] ShixiangWang commented on #472
Thanks

[2020-04-06 15:21] #472 closed

[2020-04-06 19:11] beginner984 commented on #492
Thank you so much

You are right

I checked for samples, for all of samples and in some extend all samples show kataegis

For instance I am showing two samples

[code]

And

[code]

I am confused because I don't know how I can say how many of my samples show kataegis and how many don't

[2020-04-07 08:54] lbeltrame opened #493 "gisticOncoPlot ignores par(mfrow)"
I'm trying to display two heatmaps from different GISTIC runs side by side. I thought I could use just `par` to do so, but it looks like it doesn't work.

I made a test trying to plot the same GISTIC object twice:

[code]

The plot occupies the whole plotting area regardless of what `par` does. I assume it's the sum of multiple plots itself? (I didn't look at the code yet)

[2020-04-07 08:57] lbeltrame commented on #493
A look at the code tells that for many (probably good) reasons `par` and `layout` are used, so this will never be able to work properly at this point.

[2020-04-07 09:03] PoisonAlien commented on #493
Yes that is correct.
I am not aware of any ways to combine plots when the plotting functions itself are using `layout`.

[2020-04-07 10:11] lbeltrame commented on #493
Indeed, so back to manual assembly with Inkscape it is. ;)

[2020-04-07 10:11] #493 closed

[2020-04-07 12:38] PoisonAlien commented on #492
You can just count how many samples return output from `rainfallPlot`.

[2020-04-07 15:42] erikagedvilaite opened #494 "splitting oncoplot on assay"
Hello,

I am new to this tool and was wondering if I can get some pointers. I have a simple plot:

oncoplot(maf = MAF,top = 10,drawRowBar=T,drawColBar=T)

I have a column annotated as "Assay" - and would like to split my oncoplot based on the annotation that it carries. Can you help me out?

Best,
Erika

[2020-04-07 18:03] PoisonAlien commented on #494
Hello,
It's not possible to split the plot for now. But you can add your annotation to the plot and [sort](https://www.bioconductor.org/packages/release/bioc/vignettes/maftools/inst/doc/oncoplots.html#06_including_annotations) it which should do the job.

For example in you case it would be,
[code]
Please let me know if this helps.

[2020-04-07 19:13] erikagedvilaite commented on #494
Hello,

Thank you for a quick responce! I tried that before and here is the error:
[code]
"Assay" is 17th field:
[code]
Stay safe

[2020-04-07 19:28] PoisonAlien commented on #494
I see that assay is in the MAF file itself. Best way would be to create a data-frame or a tsv file with sample annotations - containing sample names and their corresponding features (e.g `assays`).

Something like below

[code]

You can include as many features as you want for every sample in the MAF, and read it along the maf. Then the oncoplot command should work with `clinicalFeature`.

[code]

[2020-04-08 00:50] beginner984 opened #495 "VAF plot feature request"
Hello

Is it possible to plot VAF for a set of genes in two maf object as `lollipopPlot2` function does?

I mean we have two groups and we want to know how VAF is in two groups in a set of genes in one plot

Thank you

[2020-04-08 15:47] #492 closed

[2020-04-08 17:42] beginner984 commented on #495
Sorry when you are going add a new feature to your software, how we know when you have added that we then would have to reinstall the software?

[2020-04-08 18:44] erikagedvilaite commented on #494
Thank you! Works like a charm! Thanks for such a nifty tool!

[2020-04-08 18:46] PoisonAlien commented on #495
I usually notify the person opening the issue (in this case it would be you). I will let you know once I address it.

[2020-04-09 06:21] #494 closed

[2020-04-10 03:42] tomsuntom opened #497 "tcgacompare reverse order of plot"
Hi PoisonAlien,

Want to say your package maftools is really wonderful! You are doing such a great service to the scientific genomic research community.

A quick suggestion: the tcgacompare command that generates the tumor mutation burden plot is currently displaying tumors with the highest TMB starting on the left. This is the opposite of convention where the highest tumors usually start on the r

[2020-04-10 12:38] PoisonAlien commented on #497
Hello,
Thank you for your kind words and suggestion. I have pushed a fix for this.
From now by default, cohorts are organised in increasing order (the way you wanted). However, you can set `decreasing = TRUE` for reversing it. Let me know if this helps.

[2020-04-11 08:26] #497 closed

[2020-04-11 12:11] PoisonAlien commented on #495
Hello,
Sorry for the delay. I have added the `vafCompare` which compares VAF from two cohorts. Could you please check and let me know if this is what you wanted?

Usage:
[code]

See `?vafComapre` for complete details and arguments.

[2020-04-12 07:58] #495 closed

[2020-04-13 13:00] aditisk opened #499 "Oncoprint output in text format"
Hello,

Is it possible to export the Oncoprint output as a text file ? The figure gets too crowded after about 50 genes and I would like to look at all the mutated genes so it would be easy to have it as a text file.

Is there an easy way to do this ?

Thanks.

[2020-04-13 13:09] PoisonAlien commented on #499
Yes. Use `writeMatrix = TRUE` in oncoplot function and it should generate an output tsv file `onco_matrix.txt`. Genes and samples would be in the same order as in the plot.

[2020-04-13 13:50] xiw588 opened #500 "Questions about getting the APOBEC-specific count"
Hi,

I am wondering if it is possible for us to get the total number of APOBEC mutation for each sample using maftools.

Thank you for your help.

Best regards,
Xinan

[2020-04-13 14:27] PoisonAlien commented on #500
Hi,
Please refer to `trinucleotideMatrix` function. It uses previously described [method](https://www.ncbi.nlm.nih.gov/pubmed/23852170) to estimate APOBEC enrichment. Results contain number of apobec and non-apobec associated mutations per sample.

[2020-04-13 15:33] xiw588 commented on #500
Thank you for your explanation and help!

[2020-04-13 16:45] #500 closed

[2020-04-13 16:45] #499 closed

[2020-04-14 23:27] xiw588 commented on #500
Hi, I just want to double confirm that when calculating the APOBEC mutation, do people only include T[C>T]W and T[C>G]W (W -> A or T). Is there any filtering or exclusion criteria?

Thank you.

[2020-04-15 05:50] yusukesano46 opened #502 "Oncoplot by maftools: sort columns by mutation counts"
Hello,

Thank you so much for an amazing tool.
I am trying to see if I can change the order of samples in the oncoplot by mutation counts.
I want to sort the top bars so that the height of the bars becomes lower toward the right.

Thank you in advance!

[2020-04-15 07:08] PoisonAlien commented on #502
Hi,
Thank you and I am glad you find it useful. Regarding the question, `oncoplot` always orders the samples based on gene frequency. You can use `sampleOrder` argument to pass the manual ordering.

[2020-04-15 07:11] PoisonAlien commented on #500
Hi APOBEC mutations are attributed to `tcw` context. There is no other criteria.

[2020-04-15 08:35] Chitanda-Satou commented on #458
Hi, your format of data does not follow the standard of MAF. So, use tools **vcf2maf** to convert files into MAFs.

Your issue has been fixed in previous modifications of **annovarToMaf**. I think there is no need to modify the code of maftools.

But ANNOVAR will bring you more troubles, far more than this one you met. **vcf2maf** is strongly recommended.

[2020-04-15 09:25] ShixiangWang commented on #500
@xiw588 When you run `?maftools::trinucleotideMatrix` in your R console, you will see the calculation method and its reference.

![image](https://user-images.githubusercontent.com/25057508/79321509-1083e280-7f3e-11ea-9cf3-fe03e0385bb7.png)

[2020-04-15 14:14] yusukesano46 commented on #502
Thank you for your help!

[2020-04-15 14:58] #502 closed

[2020-04-15 15:39] xiw588 commented on #500
@ShixiangWang  Thank you for your help. I will look into the reference paper. Actually I am just calculating the APOBEC count rather than APOBEC enrichment. But this also helps, Thank you!

[2020-04-15 15:39] xiw588 commented on #500
@PoisonAlien  Thank you for your clarification!

[2020-04-15 21:02] beginner984 opened #503 "Combining pathway, somatic mutation and copy number in one plot"
Hello @PoisonAlien

As you know well by the feedbacks, your software is amazing

In a paper I saw this figure

<img width="488" alt="79174006-46678080-7df1-11ea-8bab-2a0124361f7b" src="https://user-images.githubusercontent.com/43682980/79387892-5489de00-7f64-11ea-9034-d26eb31d39da.png">

Given a group of samples and a list of genes for which we have mutation and GISTIC data enriched in some define

[2020-04-16 01:56] dj10086 opened #504 "how you get all the all the protein domains of gene"
hi, professor,
I am looking for a file which contails all the protein domains and postions like you show here, can you give me some help, thanks a lot
![image](https://user-images.githubusercontent.com/61576362/79405957-584f4c00-7fc8-11ea-9e7c-e431219051c9.png)

[2020-04-16 06:28] PoisonAlien commented on #503
Is [this](https://bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/oncoplots.html#08_group_by_pathways) what you have wanted?
Also checkout similar functions `tcgaDriverBP` and [OncogenicPathways](https://bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/maftools.html#99_oncogenic_signaling_pathways).
I can still improve them based on your suggestion if needed.

[2020-04-16 06:31] PoisonAlien commented on #504
Hello,
There is a database of all protein structures and pfam domains bundled with maftools package.
You can read it using following command.
[code]

[2020-04-16 06:39] dj10086 commented on #504
thanks a lot, I tried you method, and it is useful
I also get the desired data from ensemble biomart. which contains more information, but  I see you data contains not only pfam ,but also many other protein database, so is this data you update with the new release of the protein database?

[2020-04-16 06:46] PoisonAlien commented on #504
No. I have not updated this in a while, and to be honest I will not update this any further.

[2020-04-16 06:48] dj10086 commented on #504
thanks  a lot.

[2020-04-16 07:33] #504 closed

[2020-04-16 13:57] aditisk opened #506 "Error while running signatureEnrichment"
Hi,

I am trying to run the signatureEnrichment function (I followed the steps before getting to this step mentioned in the tutorial) and getting an error message pasted below. I have 2 MAF files (12 samples and 6 samples) and it works on the one with 12 samples without any error.

Running k-means for signature assignment..
Performing pairwise and groupwise comparisions..
Sample size per factor in

[2020-04-17 07:19] PoisonAlien commented on #503
Hi, As the error says, dont pass it as a list. Use a data.frame (or a data.table) as in the [example](https://bioconductor.org/packages/devel/bioc/vignettes/maftools/inst/doc/oncoplots.html#08_group_by_pathways).

[code]

[2020-04-17 07:27] PoisonAlien commented on #506
Hi, to be honest 6 samples is way too low for (de-novo) signature analysis. In your case I would suggest you to use more supervised methods like [sigminer](https://github.com/ShixiangWang/sigminer) or [deconstructSigs](https://github.com/raerose01/deconstructSigs) which provide better estimation of signature loads per samples.

[2020-04-18 17:37] beginner984 commented on #159
Sorry, I have a list of genes for which I only want oncoplot but by plotting these genes I see some genes only altered in `< 0.05` of samples. How I can ignore these genes? I tried top argument but again I have them

[2020-04-18 17:42] PoisonAlien commented on #159
You should use `genes` argument. See `?maftools` for details.

[2020-04-18 17:44] beginner984 commented on #159
Thank you, I have used `genes = t(Frankel)`

![Rplot12](https://user-images.githubusercontent.com/43682980/79645042-b0db4080-81a4-11ea-8240-b8c9f9c663f7.png)

[2020-04-18 17:48] PoisonAlien commented on #159
What is `t(Frankel)`?
Example usage is as below.

[code]

[2020-04-18 18:17] beginner984 commented on #159
Thank you for replying
Frankel is a vector in which I have put my genes of interest

Frankel et al nat genetics 2019 from which I have a list of driver genes
But most of these genes altered in less than 5 percent of samples     On Saturday, April 18, 2020, 06:48:54 PM GMT+1, Anand Mayakonda <notifications@github.com> wrote:

What is t(Frankel)?
Example usage is as below.

—
You are receiving this

[2020-04-18 18:55] beginner984 commented on #503
Thank you

By pathway feature user can convey a lot of information at once

I am wondering if it is possible to add this feature to oncobarplot?

For instance I have 3 groups
![Rplot17](https://user-images.githubusercontent.com/43682980/79668660-61017700-81ae-11ea-9f6c-04bc398e730a.png)

People won't know the contribution of each pathway in each group

But with pathway contribution in an oncobarpl

[2020-04-18 22:46] MaryGoAround opened #507 "Subsetting may by specific mutations"
Hello

I have two groups of distinct patients

I have created maf file for each group independently

I am interested in subsetting `mutations unique to each group` and `mutations ubiquitious between two groups`

I guess the results would be maf file unique to each group and maf containing information common between groups

But to be honest I don't know how to do that even I am not quite certain in

[2020-04-19 06:27] ShixiangWang commented on #507
This is interesting, I will try adding a feature.

[2020-04-19 14:14] ShixiangWang commented on #507
You can install it by

[code]

I defined three set operation functions for MAF, you can view it at https://github.com/ShixiangWang/maftools/blob/a062180ca3e3a042aadcafc80c38b44abce498b2/R/setMaf.R

After installing, you can try using `intersectMaf()` and `setdiffMaf()` for your purpose.

They all have the same parameters:

[code]

Note that you can pass any other arguments defined in `subsetMaf()`

[2020-04-19 15:13] MaryGoAround commented on #507
Thank you

If I have maf_A and maf_B

If I have want mutations `specific` to maf_A which function I should use?

I run

[code]

[2020-04-19 16:31] ShixiangWang commented on #507
please check the fun name and need maf object as input

[2020-04-19 17:21] PoisonAlien commented on #503
This would be bit tricky and I dont know how to separate that info in the main plot.
Best way would be to split your maf by group and draw an oncoplot each group :|

[2020-04-19 22:54] beginner984 commented on #503
Thank you so much

For one of my group I have used OncogenicPathways function which gives

[code]

This function gives the fraction of mutated genes in each pathway. I am wondering is it possible to include the `fraction (contribution) of each pathway across samples`? For instance let's say we have 100 samples, 45 of 85 genes in RTK-RAS pathway have been mutated, how many of samples having this mu

[2020-04-19 23:01] beginner984 opened #509 "Adding extra feature to OncogenicPathways function"
Thank you so much for every kindly and smart effort you put to answer our concerns

If I have three distinct groups of patients
For one of my group I have used OncogenicPathways function which gives

[code]

This function gives the fraction of mutated genes in each pathway. I am wondering is it possible to include the `fraction (contribution) of each pathway across samples`? For instance let's say

[2020-04-20 01:49] ShixiangWang commented on #507
@MaryGoAround Sorry that I forgot exporting the functions. Please reinstall it by

[code]

Then run

[code]

You will see how the documentation and examples to use them.

[code]

[2020-04-20 02:40] xiw588 opened #510 "Questions about transversions and transitions"
Hi, I have some questions about the way that maftools present the distribution of transversion and transitions using Titv and plotTiTv. I understand that transition refers to A-G and C-T while transversions refer to the rest of the combinations. I am wondering why TiTv only shows the distributions of the six alterations rather than the 12 in total. Can anyone explain the reasons for this and the r

[2020-04-20 02:55] ShixiangWang commented on #510
Because the pyrimidine base of the Watson-Crick base-pair has become a community standard.

e.g. when you see a mutation `A>G`, it will be converted to `T>C` in the opposite strand.

[2020-04-20 04:06] xiw588 commented on #510
I undertand the Watson-Crick base-pair rule but still confused. So basically the assumption here is the opposite strand would be converted correspondingly after the mutation occurs. So there isn't any situation that breaks the A-T and C-G rule, which could be a possible situation that evades the DNA repair mechanism.

Here I listed all the 12 situations of transversions and transitions with the op

[2020-04-20 06:11] ShixiangWang commented on #510
Yeah.  12 mutation types can be divided into patterns that start with 'C' or 'T'.

Therefore we get `C>A, C>G, C>T, T>A, T>C, T>G`.

Typically we read a mutation from 5' to 3' and don't care which strand it belongs to. There may be strand bias, however it has to be determined by the location of the mutation and strand how the mutation records in Maf or Vcf.

[2020-04-20 06:42] #503 closed

[2020-04-20 11:04] PoisonAlien commented on #507
Hello @MaryGoAround ,
Could you please install from `github` and let me know if it works for you? I have checked on several TCGA cohorts and it seems to do the job. Let me know if this helps.

[2020-04-20 11:29] tashbroit111 commented on #490
Hi,
I'm working on this same project as Sebbyy and have just discovered that it accepts "Loss" instead of "Shallow" as an input, which is perfectly fine. However, it doesn't treat the call in the same way, i.e. the way it fills the column bar is as it would a mutation and not a copy number change. If you're able to adjust the way the columns are colour-filled, can loss be made to be the same as ot

[2020-04-20 11:32] PoisonAlien commented on #490
Could you reinstall it from GitHub and try again? I have recently fixed this grid width issue with CNVs.

[2020-04-20 11:35] tashbroit111 commented on #490
That's excellent news - thank you very much! I'm new to R and am using R Studio. To update the package, can I just update using BiocManager::install("maftools")? Or is what you're suggesting a different process?

[2020-04-20 11:37] PoisonAlien commented on #490
You need to install from GitHub because these changes are not available on Bioconductor yet.
[code]

[2020-04-20 12:52] beginner984 commented on #507
Thank you

For intersecting two maf files I am getting this plot

[code]

![Rplot33](https://user-images.githubusercontent.com/43682980/79752773-bbb0e500-830c-11ea-9c84-efb226e29057.png)

And for setdiff I have this plot for one group

[code]

![Rplot34](https://user-images.githubusercontent.com/43682980/79753396-c5871800-830d-11ea-90c3-8c92cbe0c2e6.png)

For anther group I got confused because th

[2020-04-20 12:57] tashbroit111 commented on #490
I got it installed and the new modifications to CNV look great. However it seems to only be applying the new grid width to "Amp" and "Del" copy number calls. Are you able to extend this new width formatting to "Loss" calls? The image shows del in red and loss in orange as it currently stands:

![Capture](https://user-images.githubusercontent.com/64013001/79753588-88e10e00-8359-11ea-849b-c6414e687f

[2020-04-20 13:13] PoisonAlien commented on #507
Those two patients prolly dont have any nonSyn mutations. You can check `maf_object@maf.silent$Tumor_Sample_Barcode`

[2020-04-20 13:19] lbeltrame opened #511 "Typo: vafComapre instead of vafCompare"
As subject, this is in latest master.

[2020-04-20 13:23] PoisonAlien commented on #511
Ah! Thank you. I will fix it.

[2020-04-20 17:49] #510 closed

[2020-04-20 18:09] #511 closed

[2020-04-20 18:10] PoisonAlien commented on #509
Could you please check again. I have pushed some modifications. Thanks.

[2020-04-20 20:08] beginner984 commented on #509
Thank you it is exactly what I meant

If you got any time in feature, please you may add something to plot two maf objects in two colours bars then people can show the difference of altered pathways or occurrence between groups at a glance

I am nothing in R so I am not able to add any commitment or change in my mind :(

[2020-04-20 22:04] Martulie opened #512 "Size of blocks for clinical data and sample labels in oncoplot"
Hello,
I have a problem when creating maftools oncoplot enriched for clinical data. In the code, there is probably the size of whole clinicalFeatures block set by some strict number so when I add more than 2 features, the output becomes too small and unreadable. I went through the code here on github, and I found argument anno_height which I think might deal with that problem and allow me to set t

[2020-04-21 07:23] PoisonAlien commented on #512
Hello,
No problem, please feel free to ask or report bugs/errors. Some of the updates made to the package are not available on Bioconductor yet, so some of the options are available on GitHub only. Make sure you have installed it from GitHub.

[code]

To increase the annotation height set `anno_height` to larger number (default is 1), and to accommodate sample labels set `barcode_mar` (Default is

[2020-04-21 07:24] PoisonAlien commented on #509
Sure.
In a week, new Bioconductor 3.11 is scheduled to release. I am busy in fixing some stuffs and wont be adding any new features. Maybe later..

[2020-04-21 07:24] #509 closed

[2020-04-21 07:25] PoisonAlien commented on #507
I am closing the issue now. Please feel free to reopen if necessary.

[2020-04-21 07:25] #507 closed

[2020-04-21 17:11] Kevinhokahey opened #513 "Pan-cancer comparison"
Hi Guys
I have some question on the section of Pan-Cancer Comparison. I downloaded the maf data of LUSC from TCGA and try to use "pancanComparison" to analyze it. Since it needs the results from MutSigCV, I used an online website to finish the MutSigCV analysis. The website is genepattern. And I finally got the file of "LUSC.sig_genes.txt".
Then I try to do the pan-cancer comparison.
`lusc.mutsig<

[2020-04-21 17:28] PoisonAlien commented on #513
Hi,
Is it possible to share your `LUSC.sig_genes.txt` file?

Also, just a heads up. `pancanComparison` is being deprecated in the upcoming bioconductor release (scheduled for next week) and will no longer be available.

[2020-04-21 18:50] Kevinhokahey commented on #513
Sure. Please see the attach.
It is a shame to hear this news. Is there any alternative function for the pancanComparsion?
Thank you very much.
[LUSC.sig_genes.txt](https://github.com/PoisonAlien/maftools/files/4512046/LUSC.sig_genes.txt)

[2020-04-21 20:39] beginner984 commented on #473
Sorry @ShixiangWang

Do you know if scieclone only works on the matched samples (for example pre and post chemotherapy biopsies from a patients) or works on unmatched samples too? For example I have 33 pre chemotherapy tumour and 106 post chemotherapy tumours but they

I have asked the developer but he did not answer

[2020-04-21 20:57] Martulie commented on #512
Amazing, now it all works :)
The last problem is that legend is out of the width of PDF and when I enlarge the width of PDF, it deforms the graph. Is it possible to sort a legend to particular clinical data vertically?

[2020-04-22 01:50] ShixiangWang commented on #473
@beginner984 From the plot it should work for unmatched samples. I cannot give a solid answer to this, I just tried this package many years ago. If you are not sure, you should read its paper and the package documentation, try the examples to check if it would work. ![](https://camo.githubusercontent.com/bbba786632f82fa82938ecf5b5181b2ffb48ed33/687474703a2f2f692e696d6775722e636f6d2f694d3056316b712

[2020-04-22 06:58] PoisonAlien commented on #513
It seems at given q-value threshold (q<0.1) there are no genes specific to LUSC. But increasing it to 0.2 identifies two genes `CUL3` and `OR2G6`.

[code]

There is a new function called `tcgaDriverBP` which takes an MAF object and compares compares a set of genes to known TCGA [drivers](https://pubmed.ncbi.nlm.nih.gov/29625053/) drivers.

[2020-04-22 07:21] PoisonAlien commented on #512
Legends are always tricky with base graphics. I have pushed some minor fixes which should mitigate the issue. Could you try it again? You will have to reinstall from github.

[2020-04-22 13:24] Kevinhokahey commented on #513
I see. Thank you so much. There will be a new introduction of new version maftools package, right?
Looking forward to it. Have a good day. Stay safe and healthy.
Thank you .

[2020-04-22 13:29] Kevinhokahey commented on #513
BTW, one last question. I am not fully understand the variates in the LUSC.sig_genes.txt. What are the meaning of "p" and "q"? Thanks.

[2020-04-22 14:57] ShixiangWang commented on #513
p means p value, q means q value, i.e. FDR (adjust p value).

[2020-04-22 15:40] Kevinhokahey commented on #513
Thank you so much. I've leant a lot.

[2020-04-22 17:48] #513 closed

[2020-04-22 20:05] Martulie commented on #512
Hello, thank you very much!
I deleted the maftools library and installed it again and I still can't see the whole legend, despite I lowered the amount of clinical features to 4, it still sorts it next to each other. But I have some problems with updating Lattice, Matrix and Survival. Can it influence the problem?

[2020-04-23 02:42] Chitanda-Satou opened #514 "One solution of "Following genes from MutSig results are not available in MAF""
Hi, dear @PoisonAlien ,

One can often see warning messages like this：
![image](https://user-images.githubusercontent.com/32410912/80052779-138a5e80-854e-11ea-9263-c2229cf3f966.png)

I found a reason for this problem.
When we run mutsigcv, we first need to prepare the input file with the **preparemutsig()** function of maftools. Just like:
[code]
This function uses the corresponding table in “hugo

[2020-04-23 14:55] dlivgni opened #515 "merge_mafs"
Hi,

I have some problems with the merge_mafs function (I keep getting the error saying that it could not find function "merge_mafs")
I have loaded the maf files with the read.maf function and then tried to merge them by this command:

merge_mafs(mafs = c(maf1, maf2, maf3))
The same with the function: MyMaf = maftools:::merge_mafs(maf = c(maf1, maf2, maf3))

I am using R version 3.5.2 (2018-12-20)

[2020-04-23 17:24] PoisonAlien commented on #512
No Lattice, Matrix and Survival shouldn't be any issue. Unfortunately the function doesn't handle legends very well :|
One thing you could try is to save the image to a large a pdf.

[code]

[2020-04-23 17:28] PoisonAlien commented on #515
Hi,
You are using way older version of maftools. Please update it and it should be visible. Install it from GitHub if possible.

[code]

[2020-04-23 17:30] PoisonAlien commented on #514
Hi,
ideally you should use the same maf that was used for mutsigCV to avoid such problems.

[2020-04-23 18:16] Martulie commented on #512
Nope, but no worries, I'll handle it by Inkscape. Maftools has helped me a lot anyway, thanks for that! :)

Have a nice day,
Martina

[2020-04-23 19:50] #512 closed

[2020-04-24 02:53] Chitanda-Satou commented on #514
Using mutsigCV's MAF is really a solution.

I wrote a function to convert the gene name back.

 : )

[2020-04-24 02:53] #514 closed

[2020-04-25 14:54] #515 closed

[2020-04-27 14:49] #294 closed

[2020-04-28 04:15] beginner984 commented on #482
@PoisonAlien  and @ShixiangWang, hello

I know in maftools implemented files and the other way like

    sp_url <- paste("https://cancer.sanger.ac.uk/cancergenome/assets/",
    +                 "signatures_probabilities.txt", sep = "")

implemented in `MutationalPattern` R package

I can download the probabilities of 30 mutational signatures from the COSMIC website but version 2 (30 signatures)

[2020-04-28 04:55] ShixiangWang commented on #482
Use the code to get them from Maftools

[code]

[2020-04-28 05:00] ShixiangWang commented on #152
Recently, I uploaded sigminer package v1.0 to CRAN, and the per-sample exposure quantification has been documented in https://shixiangwang.gitee.io/sigminer-doc/sigfit.html. I hope it is helpful for related issues.

[2020-04-28 09:14] beginner984 commented on #482
Thank you @ShixiangWang

How I convert sigs_db to a matrix like this in COSMIC

[code]

[2020-04-28 10:24] PoisonAlien commented on #482
Hello @beginner984
These trivial things must be resolved by your own. Please restrict your questions to actual issues associated with the package.

[2020-04-28 10:27] ShixiangWang commented on #482
@PoisonAlien I totally agree with you. @beginner984 If you checked the result, you should know that you can obtain what you want very easy, just call `sigs_db$db`.

[2020-04-29 14:01] dlivgni opened #516 "How to plot both synonymous and non-synonymous mutations in oncoplot"
Hi,

First of all, thank you for an amazing tool - it is really helpful!

I have one question - I have some mutations in the TERT promoter region which I want to include in my oncoplot. I can see that the mutation in the TERT promoter is included when I use the nonSyn = silent function:

maf <- read.maf(maf = "SCC", verbose = T, clinicalData = "Clinicaldata.txt", vc_nonSyn = silent)

  Hugo_Symbol

[2020-04-29 17:19] PoisonAlien commented on #516
Hi,
You should add the variant classifications that you want to be considered as non-syn. For example below example considers all Variant classifications `Silent` as non-synonymous.

[code]

Hope this helps.

[2020-04-29 17:59] dlivgni commented on #516
Thank you for your quick reply.
The TERT promoter is classified as a "5'Flank" and I have added this to the silent vector. It is shown in the getGeneSummary, but it is still not figuring in the oncoplot/oncostrips.. Are there additional arguments I have to add to the oncoplot function?

[2020-04-29 18:33] PoisonAlien commented on #516
Ah, I see the issue now. Turns out there is no color code for `5'Flank` in the database and they will probably drawn as white blanks. Below is the solution.

[code]

[2020-04-30 07:12] #516 closed

[2020-04-30 13:04] carladosanjos opened #517 "Error in oncoplot... unused argument (titleText ="
Dear POisonAlien,

Just reporting that the oncoplot argument "titleText" stopped working.

Cheers,

CArla

[2020-05-01 01:00] beginner984 commented on #495
Sorry

vafComapre is not working

Have you removed that from your software?

[code]

[2020-05-01 05:37] PoisonAlien commented on #495
There was a #511 typo in the command name. I have corrected it. It should be `vafCompare` and not `vafComapre`

[2020-05-01 09:08] beginner984 commented on #495
Thank you. Sorry if no `ns` on the plot that means significant?

![Rplot95](https://user-images.githubusercontent.com/43682980/80795123-85d4f180-8b93-11ea-8d1e-5d6eaf2ca3b4.png)

For example `NAV3` here does not have `ns` but `TP53` has, does this mean `VAF` of `NAV3` is different between `m1` and `m2`?

[2020-05-01 15:33] PoisonAlien commented on #495
`ns` usually means not-significant.
In this case NAV3 doesnt have mutations so there are no values to perform any kind of test. Hence the blank.

[2020-05-03 04:34] ianwilkietomasik commented on #175
use the setwd("yourprojectsdirectoryhere") command to make sure your in the right place in RStudio

[2020-05-03 14:53] beginner984 opened #518 "Showing mutational load with a same scale"
Hello @PoisonAlien

I have two groups

![1](https://user-images.githubusercontent.com/43682980/80917319-ef9cf900-8d55-11ea-9bde-853dcee1a6e2.png)

![2](https://user-images.githubusercontent.com/43682980/80917323-f4fa4380-8d55-11ea-9476-17c642a97226.png)

Is there any way to show mutation per sample with the scale? I thought in combining two groups by showing barcode but I noticed patients are plac

[2020-05-04 00:27] MaryGoAround opened #519 "Sub-clonal fraction using cancer cell fraction"
Hello

`inferHeterogeneity` function clusters VAF to infer clonality

Can we use Cancer Cell Fraction (CCF) instead of VAF to get something like
![Untitled](https://user-images.githubusercontent.com/60115705/80929695-079c6900-8da6-11ea-81a4-fb50f474c389.png)

Which says

`The faction of tumour cells carrying the variant is represented on the x axis (1 1⁄4 100% of tumour cells), and the probability

[2020-05-04 01:25] ShixiangWang commented on #519
copy number data is necessary for doing this

[2020-05-04 07:53] MaryGoAround commented on #519
Thank you, which specific copy number data? Major and total allele for tumour, purity, ploidy?

[2020-05-04 08:56] ShixiangWang commented on #519
The total copy number is okay, this can be done by ABSOLUTE or [Ccube](https://github.com/keyuan/ccube), etc. I think there are many options for this. You can get the CCF firstly and then plot it by base plot or ggplot2. I agree that the feature may be important for studying, but I don't think it should be implemented in maftools due to impractical,  but this depends on @PoisonAlien

[2020-05-04 09:03] PoisonAlien commented on #519
It is not as straight forward as it seems. I am no expert in tumor heterogeneity, and for CCF one has to take into account purity, ploidy, LOH events. There are already plethora of tools which does exactly these thing (ABSOLUTE seems to be the crowd favorite). Just implementing plotting option would not add much to the tool.

[2020-05-04 09:07] MaryGoAround commented on #519
Thank you @PoisonAlien  and @ShixiangWang  I did not mean just changing the plotting view rather I meant elaborating the function with CCF instead of VAF asking the users to provide ploidy and purity even tumour copy number as integer

[2020-05-04 09:26] PoisonAlien commented on #518
This would not be possible because they are cohort specific.
But, If you want to show differences in mutation load you can use `tmb`

[code]

[2020-05-04 10:12] MaryGoAround commented on #518
Sorry, given two maf objects what you mean by tab

[code]

You mean oncoplot?

[2020-05-04 10:47] PoisonAlien commented on #518
You will have to update the package for this function.

[2020-05-04 14:20] MaryGoAround commented on #519
Sorry @PoisonAlien , if I manually replace VAF with CCF in the function would I get the clustering? Actually my ultimate goal is to cluster CCF values to see if a mutation is clonal or sub-clonal discarding the ambiguous ones. maftools does such a clustering although I am not sure for maftools at which confidence interval a VAF values called clonal or sub-clonal. I have found implementing this clu

[2020-05-04 14:26] PoisonAlien commented on #519
Yeah you can try that, just pass the column name containing your CCF values to `vafCol` argument. It should work.
Also you may want to look at [sciClone](https://github.com/genome/sciclone) and [clonevol](https://github.com/hdng/clonevol )packages.

[2020-05-04 16:21] MaryGoAround commented on #519
Sorry again, end plot by maftools returns some clusters like clusters 1, 2, 3, 4 and outlier

In maftools output how we define mutations in which clusters are clonal or sub-clonal?

Thank you

[2020-05-04 17:09] PoisonAlien commented on #519
This is out of the scope of the software itself.
Having said that if its of any help, I had [answered a similar question on Biostars](https://www.biostars.org/p/339074/#339223) once. Maybe check it once.

[2020-05-04 17:35] PoisonAlien commented on #490
Hi,
I am sorry for the delay. I have pushed some changes which should take care of any types of CN values. Could you please check it and let me know if it works for you?

[2020-05-05 02:13] Sebbyyy commented on #490
@PoisonAlien Thanks mate.

I will let @tashbroit111 have a look first and let you know.

[2020-05-05 06:12] tashbroit111 commented on #490
Hi @PoisonAlien - I just ran my script again and it looks like it's applying the colour fill equally among to CN calls. I've popped in an example below. It looks great and I really appreciate this adjustment to the code. Thank you!

Image: orange = copy loss, red = hom del and blue = missense.

![image](https://user-images.githubusercontent.com/64013001/81038914-e6916080-8eea-11ea-999b-92b7d4552cd

[2020-05-05 06:44] #490 closed

[2020-05-05 06:45] #519 closed

[2020-05-05 09:09] #517 closed

[2020-05-05 09:10] #506 closed

[2020-05-05 20:45] carladosanjos commented on #517
Dear Anand,
Yes, it is working now. Thanks!

Best wishes,

Carla

On Thu, Apr 30, 2020, 17:35 Anand Mayakonda <notifications@github.com>
wrote:

[2020-05-05 23:36] igordot opened #520 "add multiple types of mutations"
This is the waterfall plot from the [TCGA-PDAC](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5964983/) paper:

![nihms898701f1](https://user-images.githubusercontent.com/6363505/81124863-87d8e080-8f04-11ea-8d4d-95a54ebdcdef.jpg)

Most of it can be recreated with maftools. However, notice that it has "Germline" classification for variants that generates a distinct representation (a gray border) for

[2020-05-06 07:34] PoisonAlien commented on #520
Hi,
You can include samples with `Germline` status in the copy number table and it should work. Below is the example using example AML file.

[code]

![Rplot02](https://user-images.githubusercontent.com/8164062/81148289-4be16200-8f7c-11ea-9224-c0c90793edc4.png)

Would this work? You will have to install the tool from `GitHub` though, since it hasnt been pushed to Bioconductor yet.

[2020-05-07 14:28] MaryGoAround opened #521 "Question about tcgaDriverBP function"
Hello

I just discovered `tcgaDriverBP` in your software

I am wondering you are passing only a subset of TCGA drivers and associated pathways to `tcgaDriverBP` function or this function uses what available by now on user's maf object?

I am asking because only a handful of my genes have been assigned to TCGA pathways

Thanks for any information

[2020-05-07 18:46] igordot commented on #520
I tried this in the Bioconductor version and it did not work. It indeed works in the current GitHub version.

I guess this was added in response to a similar recent issue, which I just noticed: https://github.com/PoisonAlien/maftools/issues/490

[2020-05-07 20:06] igordot commented on #520
There is a way to specify custom colors for different mutation types. Is there a way to modify how the copy number mutations look otherwise? For example, to change the size, shape, or alpha?

[2020-05-08 14:52] jeff-meng opened #522 "estimateSignatures not found"
Hi! I've been using maftools for a while and it's awesome. I've been trying lately to do some signatures analysis following your online guide, but I'm having trouble finding `estimateSignatures`. At first, I thought it's because my maftools version is old, but I still couldn't find it after updating maftools. Also, I don't have `plotCophenetic` but I have `extractSignatures` Any idea what might be

[2020-05-08 15:27] ShixiangWang commented on #522
Still old. You can install it from GitHub

[2020-05-08 15:34] jeff-meng commented on #522
Hmm... I'm a bit confused. I just updated maftools today. Now, when I try to install:

`> install_github(repo = "PoisonAlien/maftools")`
Using github PAT from envvar GITHUB_PAT
Skipping install of 'maftools' from a github remote, the SHA1 (b907d03d) has not changed since last install.
  Use `force = TRUE` to force installation

[2020-05-08 15:39] jeff-meng opened #523 "extractSignatures gives data.table error"
Hi! I've been trying to use maftools for some signatures analysis. After successfully running `trinucleotideMatrix` and `estimateSignatures`, I'm having trouble with `extractSignatures`:

`> comb_maf.sig = extractSignatures(mat = comb_maf.tnm, n = 4)`
Error in data.table::fread(input = system.file("extdata", "signatures.txt",  :
  Input is empty or only contains BOM or terminal control characters

[2020-05-08 15:58] jeff-meng commented on #522
I forced the installation and I realized there were two error messages about invalid "uid" and "gid" values. Is that a problem? Please see below.

[2020-05-08 16:22] xiw588 commented on #500
Hi,

I have a follow-up question regarding trinucleotideMatrix function. Is there any exclusion criteria for this function that make some observations are removed from the result?
Basically, what I want is all the transversion and transition situation count for each observation.

Thank you.

[2020-05-08 19:03] jeff-meng commented on #523
Ok. I've gotten extractSignatures to work after manually updating the version of extractSignatures by running source code found here:
https://rdrr.io/github/PoisonAlien/maftools/src/R/extractSignatures.R

Seems like this comes down to my issues updating maftools, discussed in this thread:
https://github.com/PoisonAlien/maftools/issues/522

Thanks!

[2020-05-08 19:03] #523 closed

[2020-05-09 00:28] ShixiangWang commented on #500
You can filter mutations before reading it

[2020-05-09 00:32] xiw588 commented on #500
@ShixiangWang  What I meant here is some samples were automatically removed by applying trinucleotideMatrix function, which is not expected. I don't know the reasons behind that and I want to have the information for each sample.

[2020-05-09 01:13] ShixiangWang commented on #500
Set useSyn to TRUE？

[2020-05-09 01:55] xiw588 commented on #500
Yes, I set useSyn = TRUE but still get two samples removed. I don't know why they were removed since every sample supposed to have a matrix, right?

[2020-05-09 02:14] ShixiangWang commented on #500
The two samples may have no SBS counts.

You can try https://github.com/ShixiangWang/sigminer to get all samples, even there are no SBS mutations

[code]

[2020-05-09 11:37] MaryGoAround commented on #507
Hello

Am I right that

`laml=setdiffMAF(x, y,mafObj = TRUE)` gives mutations only on maf object `x` because that is first and `laml=setdiffMAF(y, x,mafObj = TRUE)` gives mutations only in maf object `y` because that has come first?

Thank you

[2020-05-09 13:46] ShixiangWang commented on #522
Please close it if the problem fixed

[2020-05-09 13:47] ShixiangWang commented on #522
In most cases you can ignore warnings in R

[2020-05-09 13:49] ShixiangWang commented on #507
Yes it is similar to setdiff in R

[2020-05-09 14:28] MaryGoAround opened #524 "Question about gisticChromPlot"
Hello

I have a set of genes in my mind with a set of `cytobands` carrying these genes. When plotting them by `gisticChromPlot`, I see some amplified genes like `_KRAS_` and `_ERBB2_` become red but the rest are colourless even if for for the peak is < 0.05. Even, I noticed EGFR is not in among `amp_genes.conf_95.txt` but I became if I mention that.

Please help me to get the point based on which

[2020-05-09 18:26] xiw588 commented on #500
Thank you for your response. I tried to run as you suggested but got the error message ''Error: 'cli_alert_info' is not an exported object from 'namespace:cli''

Do you know what is going on?

Thank you.

[2020-05-09 22:21] ShixiangWang commented on #500
Could you reinstall the cli package and try again

[2020-05-10 08:18] PoisonAlien commented on #520
Hi,
Sorry for the late reply. Yes, this update was related to #490.
Unfortunately it is not possible to change shape or size. However you can change colors by providing named vector of colors for every level in the custom data.

for above example

[code]

Hope this helps..

[2020-05-10 08:21] PoisonAlien commented on #521
Hi,
By deafult it uses top 20 genes from the maf to compare against tcga drivers obtained from [here](https://www.ncbi.nlm.nih.gov/pubmed/29625053).
Use `top` or `genes` argument to compare more genes.

[2020-05-10 08:24] PoisonAlien commented on #522
I am guessing there are multiple versions of R installed and there is a conflict in the library path?
I am closing this issue as its not directly related to maftools.

[2020-05-10 08:24] #522 closed

[2020-05-10 08:25] PoisonAlien commented on #507
Yes, results are relative to first maf object.

[2020-05-10 08:26] PoisonAlien commented on #524
Can you post your command?

[2020-05-10 08:27] #518 closed

[2020-05-10 08:30] PoisonAlien commented on #500
Hi @xiw588 ,
`trinucleotideMatrix` does not remove any samples. Maybe some of your samples do not have any SNVs?

[2020-05-10 09:58] MaryGoAround commented on #524
Thank you, this is my commands

[code]

Links to the used data

https://www.dropbox.com/s/uvn007xroxh3zss/GISTIC-2.rds?dl=0

https://www.dropbox.com/s/wb1jedqiuab7j8r/maf-2.rds?dl=0

[code]

[2020-05-10 13:15] PoisonAlien commented on #524
Hi,
There was a little issue with how the overlaps were chosen for highlighting. For example from your data, `CDKN2A` overlaps with two cn segments from `scores.gistic` file.

[code]

In this case first  entry would highlighted. I have changed it now to highlight the most significant entry instead (with highest `G_score`). Thanks for reporting.
Please install from GitHub and let me know if the res

[2020-05-10 15:20] MaryGoAround commented on #524
Thank you works now

[2020-05-10 15:28] #524 closed

[2020-05-10 19:47] xiw588 commented on #500
@PoisonAlien  Oh I see! That could be the point! Let me check. Thank you for your help!

[2020-05-11 09:14] #521 closed

[2020-05-11 09:15] #520 closed

[2020-05-11 15:44] vnrajapakse commented on #306
I'm also noting this issue unfortunately, with the example data set you kindly provided.
I'm working on a MacBook Pro (OS Version 10.14.6).

[2020-05-11 21:11] xiw588 opened #525 "Regarding inferHeterogeneity"
Hi,

Is there any way that we could get the tumor heterogeneity for all samples rather than specifying a sample id or the top 5?

Thank you.

[2020-05-12 01:29] ShixiangWang commented on #525
Could you set the argument `tsb`?

[2020-05-12 01:39] xiw588 commented on #525
Do you mean by listing all the ids I want to show ? There are 1000 ids in total

[2020-05-12 01:58] ShixiangWang commented on #525
Yeah, you can get them from `MAF` object or your input. You don't need to input them by hand.

[2020-05-12 04:51] MaryGoAround commented on #519
Sorry, `having two groups of patients`, can we calculate heterogeneity for each group at once (as whole)? I mean, in each maf object, we assume different patients in samples barcode column are all the same therefore we would finish with one VAF distribution for each group instead of having VAF clustering for each patient itself

[2020-05-12 07:06] PoisonAlien commented on #525
@xiw588 You can loop around all samples. This is what maftools would be doing anyways..

[code]

[2020-05-12 07:06] #525 closed

[2020-05-12 07:08] PoisonAlien commented on #519
These things you will have to figure out. There is no option to perform this.

[2020-05-12 07:32] PoisonAlien commented on #306
Hi @vnrajapakse ,
Thanks for pointing it out. I checked it and for some reason it does not print the names in the first attempt. But re-running the command seems to work. Could you please try this and let me know if this is the same for you?

[2020-05-12 11:00] MaryGoAround commented on #519
Sorry @ShixiangWang  I looked at Ccube in this link which simulates input and returns results

https://github.com/keyuan/ccube/blob/master/vignettes/ccube.Rmd

From the results how can I understand if a specific mutation is clonal or sub-clonal? Please you may have a look? thank you

[2020-05-12 11:17] ShixiangWang commented on #519
@MaryGoAround Could you read the info?

![image](https://user-images.githubusercontent.com/25057508/81679946-304aef80-9485-11ea-8952-350d9dd577b5.png)

If an SNV is clonal, its CCF should be exactly 1 (at least very close to 1).

[2020-05-12 12:13] MaryGoAround commented on #519
Yes @ShixiangWang you right, in this link says that

https://www.researchgate.net/publication/329368882_Ccube_A_fast_and_robust_method_for_estimating_cancer_cell_fractions

`The peak at CCF=1 corresponds to the clonal cluster.`

[2020-05-12 13:47] xiw588 commented on #525
@PoisonAlien Thank you very much for your help.

[2020-05-12 16:55] vnrajapakse commented on #306
Hello @PoisonAlien ,
Thank you for your response (and super helpful package)! I tried re-running the command, but this didn't work for me. I put some debug statements inside the if(showBarcodes) { .. } blocks at lines 237 and 245 of print_mat.R. The sample names are properly captured in the rownames of the nm matrix object (as expected). The reasonable looking text() call strangely isn't having an

[2020-05-13 09:14] PoisonAlien commented on #306
Okay, I changed from `text` to `mtext`. It seems to be working fine now. Could you check it once and let me know? You will have to install from GitHub.

[code]

[2020-05-13 15:50] vnrajapakse commented on #306
Yes - the labels appear now. Thanks so much!

[2020-05-14 01:11] MaryGoAround opened #526 "Reading maf for each individual samples jointly"
Hello

I have downloaded maf.txt for each individual sample from broad institute maf dashboard. I want to have an union maf for all in a way sample names are in sample barcode column as usual

I have tried

[code]

Is there any function in maftools to perform this?

Thank you so much

[2020-05-14 01:28] ShixiangWang commented on #526
Use a for loop to creat a maf list and then merge them？

[2020-05-14 03:00] DarioS opened #527 "getSampleSummary Doesn't Tabulate Samples With No Mutations"
If I have a MAF object that has Tumor_Sample_Barcode that is a factor with more levels than there are present in the table (a couple of samples have zero mutations), `getSampleSummary` won't show them. It would be nice if it had a `drop` argument (e.g. `drop = FALSE`).

[2020-05-14 05:51] ShixiangWang commented on #527
It is true and should be considered.

[2020-05-14 09:23] PoisonAlien commented on #527
Hi,
`getSampleSummary` is intended to provide summaries for samples with at-least one non-synonymous mutaton.
In this case, there is `mafSummary` function which returns everything regardless of the type of mutation. Can you try it and let me know if this is what you wanted?

[2020-05-14 09:24] PoisonAlien commented on #526
You should use `merge_mafs`.

[2020-05-14 11:00] DarioS commented on #527
That'll do.

[2020-05-14 11:00] #527 closed

[2020-05-14 12:01] #526 closed

[2020-05-15 15:52] pastoma85 commented on #132
Hi,
I have a doubt. I would like to create the file containing the clinical information. Are there any mandatory fields to be entered?
This passage is not clear to me. In my case history I have 3 groups, adenomas, tumors and controls. How do you suggest I create this file?
Thanks

[2020-05-16 08:33] PoisonAlien commented on #132
There is no standard format as such. Only thing matters is make sure all the samples in maf are also present in your clinical information (sample names must match).
In your case its probably going to look like this:

[code]

[2020-05-18 13:53] MaryGoAround commented on #303
Hello

Is it possible now to have mafCompare function to support gistic objects?

[2020-05-20 00:00] DarioS opened #528 "Unable to Assign Variable to Oncoplot Box Outline"
Apart from categories such as nonsense, missense there could an alternative way to categorise SNPs - before whole genome duplication, after whole genome duplication or indeterminate. [About half of all cancer samples are estimated to have whole genome duplication.](https://www.nature.com/articles/s41588-019-0507-7) This could be represented as a border colour of the box in an oncoplot (the usual m

[2020-05-20 04:43] Jihoon-Yoon opened #529 "incorrect n_mutated_groups by clinicalEnrichment"
**Describe the issue**
Hi.
Thanks for your great work!

I tried "clinicalEnrichment" function and noticed that the calculated numbers of n_mutated_groups by "clinicalEnrichment" and the mutations displayed by "oncoplot" are different.

For example, it is correctly counted that 7 samples have BRCA2 mutations by oncoplot,
however, when use "clinicalEnrichment" function, there are only 2 BRCA mutatio

[2020-05-20 14:28] #132 closed

[2020-05-20 14:29] PoisonAlien commented on #303
Unfortunately it is not possible yet.
Also I apologize to @jgarces02 for my tardiness in addressing this. I will implement it in my free time.

[2020-05-20 14:31] PoisonAlien commented on #528
I do not know how hard it can be because oncoplot is basically `image` command (not a grid).
I will give it a try and let you know.

[2020-05-20 14:34] PoisonAlien commented on #529
Hi,
I believe one of your group has has only two BRCA mutation. They are not total number of samples with BRCA (which is what would be shown in oncoplot) rather they are number of samples within a particular group with BRCA mutations.

[2020-05-20 15:07] jgarces02 commented on #303
Please, @PoisonAlien. That's not important at all! Thanks!

[2020-05-20 18:59] oddmundn opened #530 "Problem with oncoplot and nonmutated samples"
I am trying to make an oncoplot with the oncoplot function of the maftools package (version 2.4.0), using R version 4.0.0. Everything is fine as long as I don't try to plot the nonmutated samples. But when I call:

    oncoplot(maftest,removeNonMutated=FALSE)

Error in top_bar_data[, colnames(numMat), drop = FALSE] :
  subscript out of bounds

....I get the error message above. My MAF file contain

[2020-05-20 19:10] MaryGoAround commented on #526
sorry @PoisonAlien can you help me in knowing from where I can find gistic files needed for Maftools? I have been lucky to find maf files of my cancer of interest in broad institute dashboard but I have no clue where I can find gistic files for this toga samples.

excuse me if this question is irrelevant with the main post

[2020-05-20 19:18] Michael-T64 opened #531 "plotVaf color palette"
Hello,

Would it be possible to allow users to specify the color palette for the plots that are generated using plotVaf?

Thanks

[2020-05-21 04:11] longqh3 commented on #261
The same problem still happened to me (maftools: 2.2.10), setting "stringsAsFactors = FALSE" while using "read.delim" to read in maf files has solved the problem.
Maybe it has not been fixed, but setting "stringsAsFactors = FALSE" is an option.

[2020-05-21 05:00] DarioS commented on #528
That would be quite difficult in base graphics but easy using ggplot2.

[2020-05-21 07:23] PoisonAlien commented on #526
You can find them on TCGA [firehose](http://gdac.broadinstitute.org/) for all cohorts.
Click on `analysis` for your interested cohort -> Copy number analysis -> copy number gistic 2 -> Download results

[2020-05-21 07:26] PoisonAlien commented on #531
Hello,
Unfortunately its not possible for now as they are hardcoded.
But I am happy to make it as an argument. I will implement it soon.

[2020-05-21 07:30] PoisonAlien commented on #261
Also, in R 4.0 by `stringsAsFactors = FALSE` by default in `read.delim`

[2020-05-21 07:36] PoisonAlien commented on #530
I can reproduce this. Thank you for reporting. I will fix it soon.

[2020-05-21 09:00] kunstner opened #532 "geneCloud"
Hi,

I'm using maftools v2.4.05 and I am wondering what happened to the 'geneCloud' command. I found it quite useful in previous versions.

Thanks,
 Axel

[2020-05-21 09:54] PoisonAlien commented on #531
Hi,
I have added `color` argument to `plotVaf`. Could you try it out and let me know if it helps? You will have to install from GitHub.

[code]

[2020-05-21 09:55] PoisonAlien commented on #530
Hi,
I have fixed the issue. Could you please try it out and let me know if it fixes the issue?
You will have to install from GitHub.

[code]

[2020-05-21 10:00] PoisonAlien commented on #532
Hi,
Since the function was barely used and added an extra dependacy to the package, I removed it in 2.4.0 :|
But I have hosted it on [gist](https://gist.github.com/PoisonAlien/3f8752a89c1d63f64afe55b441621223) that you can source it and use. You will need `wordcloud` installed.

[code]

[2020-05-21 10:14] PoisonAlien commented on #527
Hi both,
Yes I agree that those samples should be shown in the output - it makes more sense.
I have changed `getSampleSummary` to include non-mutated samples as well (with zeros).

[2020-05-21 13:54] MaryGoAround commented on #526
Sorry @PoisonAlien

Thank you for helping me

I have a list of samples from TCGA which clinical data says they have not received chemotherapy

Is there anyway to get gistic information from a list of samples from `Copy number analysis -> copy number gistic 2` ?

Because in gistic results does not have tumour barcode or at least I can not see tumour barcode to subset the data

I have tried to use s

[2020-05-21 14:17] PoisonAlien commented on #526
You dont need to run GISTIC. They are already results from GISTIC. Go [here](http://gdac.broadinstitute.org/runs/analyses__2016_01_28/reports/cancer/ACC-TP/CopyNumber_Gistic2/nozzle.html) for example and click on `Download results` - > `analysis results`. You can directly read thm with maftools.

[2020-05-21 14:44] kunstner commented on #532
Wonderful! Many thanks.

[2020-05-21 14:49] MaryGoAround commented on #526
Thank you

In the link we are seeing three files, one is likely amplification, one deletion and the other one seems to be gistic score

So for reading those by your software via this code

[code]

I am not sure which file is `all.lesions` and which file is `scores.gis`

[2020-05-21 15:57] MaryGoAround commented on #526
Sorry you are right I found that

<img width="1280" alt="Screenshot 2020-05-21 at 16 53 14" src="https://user-images.githubusercontent.com/60115705/82577942-9de0d500-9b83-11ea-8d8b-998e5556bbe5.png">

Is there any way to extract my list of samples from the made laml.gistic?

I have tried to subset my samples but gives error

[code]

[2020-05-21 18:48] #532 closed

[2020-05-21 19:31] ipstone commented on #520
Thanks @PoisonAlien -- a related question: with this modification of cnTable, can we continue to use the 'cnv_status' in the cnTable (to show copy number changes), together with the is_germline column?

[2020-05-21 23:14] Michael-T64 commented on #531
Hi,

Yep that worked perfectly for what I needed. Thanks so much for the super quick response!

[2020-05-22 07:57] #531 closed

[2020-05-22 07:59] PoisonAlien commented on #526
Unfortunately its not possible to subset gistic object.

[2020-05-22 14:59] kunstner opened #533 "Background color gisticOncoPlot"
Hi,

I wonder whether it is possible to add a parameter to the gisticOncoPlot function for setting a different background color similar to the oncoplot function.

Best,
 Axel

[2020-05-25 05:00] Jihoon-Yoon commented on #529
Dear Anand Mayakonda,

I really appreciate your great work
I was trying to attach figures regarding this issue on github, but it didn’t work.
So, here, I share the results.

This is the oncoplot displaying 7 samples with BRCA mutations among 115 samples.
[cid:image001.jpg@01D6329B.F3048E10]

This is the results from clinicalEnrichment, CE.res
[cid:image002.png@01D6329C.DC706A10]

There are only tw

[2020-05-25 06:10] oddmundn commented on #530
Yes, it works.
Thank you very much!

Oddmund

On Thursday, May 21, 2020 11:55 CEST, Anand Mayakonda <notifications@github.com> wrote:
 
 
Hi,
I have fixed the issue. Could you please try it out and let me know if it fixes the issue?
You will have to install from GitHub.BiocManager::install("PoisonAlien/maftools")
—
You are receiving this because you authored the thread.
Reply to this email directl

[2020-05-25 08:03] #530 closed

[2020-05-25 08:06] lbeltrame opened #534 "RFE: Allow subsetting samples in the GISTIC class"
As the issue subject says, it might be useful to subset samples in GISTIC objects, similar to what it is done for MAFs. A use case I have is a global analysis I made with GISTIC, but I want to display the individual alterations in two different oncoplots basing on some clinical data.

[2020-05-25 23:33] MaryGoAround commented on #519
Sorry @ShixiangWang  finally I could run ccube on my data, but I can not find clusters number in the results for instance like maftools says cluster 1, 2 , etc

Can you see where clusters are in the results?

[2020-05-26 07:14] entcai opened #535 "The cohort size would be 0 after subsetmaf function"
Dear PoisonAlien

**Describe the issue**
I am a new maftools user. I found my maf file will lose sample size information after I subset with the parameter tsb= a list of TCGA barcodes. There is no percentage in My plotmafSummary plot[Inf%]. A similar result happened in oncoplot, But I can add cohortsize= to solve the problem.

**Command**
laml.1 = read.maf(maf = 'f:/TCGA/pan-cancer/Resource/HNSC-C

[2020-05-26 07:20] PoisonAlien commented on #535
Hello,
You should not cut your TSB's with `substr` in the maf object. There is an argument `isTCGA` in `read.maf` which exactly does this. Could you try the below function and let me know if you still have the issue?

[code]

[2020-05-26 07:29] PoisonAlien commented on #529
Its hard to imagine the issue without a reproducible example. I also don't see your output from `CE.res`. You can just copy paste your output from R.

One more thing to remember is that the test compares number of **mutated samples** and **not the number of mutations**. If a sample has multiple mutations in the same gene, its still a single sample.

[2020-05-26 07:44] ShixiangWang commented on #519
@MaryGoAround This is out of the scope of maftools, could you post your question on https://github.com/keyuan/ccube/issues. I think the authors of cube would like to answer your question. Please post your result snapshot in ccube issue.

[2020-05-26 11:51] beginner984 commented on #535
hello @PoisonAlien  I saw this post about subset maf so I thought to ask my question here, sorry I should create a new post

I have maf file and maf object from a very big data, I want to subset only non-silent mutations

I saw see

`subsetMaf(maf = laml, genes = c('DNMT3A', 'NPM1'), mafObj = FALSE,query = "Variant_Classification == 'Splice_Site'")`

I don't know how to adapt this to my case, I me

[2020-05-26 12:19] PoisonAlien commented on #535
@beginner984
Your maf object contains `data` slot which has all non-silent mutations, and `maf.silent` slot containing all silent mutations. In your case you dont need to subset.
The example you are referring to only subsets by certain type of `Variant_Classification` type.

[2020-05-26 12:36] beginner984 commented on #535
Thank you

Actually I need a list of mutations (`REF ALT`) which are `SNP` and `non-silent` from my maf because I want to intersect only these mutations from another genomic coordinate file

So, if I got the point properly, I must extract `data slot` from my maf and write the SNPs from that as an output?

[2020-05-26 13:15] PoisonAlien commented on #535
Yes, or you could also do the following

[code]

[2020-05-26 14:39] entcai commented on #535
That solved my question. Thank you. Before that, I tried 'isTCGA = TRUE' in subsetMaf function which will have errors like
 'Error in dcast.data.table(data = vc, formula = Tumor_Sample_Barcode ~  :
  Can not cast an empty data.table'.

If anyone has the similar question on this, 'isTCGA = TRUE' in read.maf function should address it.

Thank you. I very appreciate it.

[2020-05-26 14:52] #535 closed

[2020-05-26 23:05] beginner984 commented on #456
Hello @PoisonAlien

After `ignoring variants in copy number altered regions`, the `t_vaf` column in `tcga.ab.3009.het$clusterDat` is the original intact vaf or copy number adjusted vaf?

Thank you so much

[code]

[2020-05-27 06:35] PoisonAlien commented on #456
There is no adjustment being done. They are original values, only those variants within CN segments are ignored from analysis and are annotated as `CN` in the output.

[2020-05-28 14:15] mhlolly opened #536 "fail to read GISTIC file"
Hello, I failed to read GISTIC file, could you help me solve the problem? Thanks a lot.
[code]

*Session info*
[code]

here's the files
[maftools.zip](https://github.com/PoisonAlien/maftools/files/4696056/maftools.zip)

[2020-05-28 17:39] PoisonAlien commented on #536
Hello,
Thank you for reporting. I have fixed it. Please try install from GitHub for patched version.
Also, please note that setting `isTCGA=TRUE` truncates sample names to first twelve characters - meaning primary samples and their metastatic counterparts (or from other sources) will all be collapsed into one single sample type.

[2020-05-28 22:17] ipstone opened #537 "somaticInteraction color - wrong direction"
Thanks for this great/very useful maftools!

I began to use somaticInteraction to test some mutation interactions (using the latest github version, details below). Though the somaticInteraction calculation result shows the interaction are mutually exclusive but **somehow the color scale is opposite for some cases:**

![Screen Shot 2020-05-28 at 5 35 00 PM](https://user-images.githubusercontent.com

[2020-05-29 00:01] riyuebao opened #538 "merge_mafs mysterious behavior: returned different results when using maf files as input versus maf objects as input (and the file order matters)"
**Describe the issue**
Hello - `merge_mafs` returns different results when supplied with maf file list or maf objects pre-imported from each individual maf file. Plus, in the former case, importing files as c(file1, file2) returns different results as importing files as c(file2, file1).

Four tests were conducted:
- importing file1,file2 => then I checked this one COAD sample `TCGA-A6-2671-01A-01D

[2020-05-29 05:17] #536 closed

[2020-05-29 05:18] mhlolly commented on #536
THANKS!

[2020-05-29 05:32] mhlolly opened #539 "error in plotCBSsegments"
Hi, I met some problem when running plotCBSsegments, could you please help me solve it? Thank you.
[code]
**sessioninfo**
[code]
here's my example
[tumor.txt](https://github.com/PoisonAlien/maftools/files/4699830/tumor.txt)

[2020-05-29 08:02] ShixiangWang commented on #539
Could you try reinstalling maftools by `remotes::install_github("PoisonAlien/maftools#540")` or `remotes::install_github("ShixiangWang/maftools")` and run plotting again?

[2020-05-29 08:53] mhlolly commented on #539
Successfully plot. Thank you very much!
But there are some probloem. As noted in the documentation: "tsb: If segmentation file contains many samples (as in gistic input), specify sample name here. Defualt plots all samples." However, I plotted only one sample even though I didn't specify the sample name.

The file plotted:
[Rplot01.pdf](https://github.com/PoisonAlien/maftools/files/4700702/Rplot01

[2020-05-29 08:56] ShixiangWang commented on #539
@mhlolly I modify the option to keep it simple. If you want to plot all samples, set `tsb = 'ALL'`

[2020-05-29 09:01] mhlolly commented on #539
OK, thanks a lot ♪(･ω･)ﾉ

[2020-05-29 09:01] #539 closed

[2020-05-29 12:31] ipstone commented on #537
I suspect now, it might be the older version of other packages such as RColorBrewer etc. causing this issue (I remembered when installing the github version of maftools there was prompt to update other dependent packages - which I didn't do).

I will test again on a clean install on arch Linux to see if this is the cause.

[2020-05-30 03:52] ShixiangWang commented on #538
From the comments, `merge_mafs` cannot correctly process multiple maf files, right?

Could you try this modified function after loading maftools?

[code]

[2020-05-30 09:49] PoisonAlien commented on #538
Okay this was a tricky one. Turns out the column names in both the maf files are slightly different. `Start_Position` is denoted as `Start_position` in ACC cohort which results in faulty rbinding of `data.tables`. `ValidateMaf` function usually takes care of this but in case of `merge_maf` this was being done after merging the data.tables. I have fixed it. Could you please try it and let me know i

[2020-05-30 09:51] PoisonAlien commented on #537
Could you provide me with a reproducible example? I have tested it on multiple tcga cohorts and it seems to be fine.

[2020-05-30 10:09] PoisonAlien commented on #533
Hi,
Please accept my apologies. I somehow missed to followup on this issue.
I have added `bgCol` argument to `gisticOncoPlot` which should do the job. Let me know if this helps.

[2020-05-30 16:53] beginner984 commented on #456
Sorry @PoisonAlien

I have a man file with `368347` rows, after heterogeneity analysis I only see 1664 rows in the results like below

[code]
What has happened for the rest of variants? I mean `368347` versus `1664`

[2020-05-30 17:54] PoisonAlien commented on #456
By default this will only be run for top 5 samples. You will have to use `tsb` or `top` command. See `?inferHeterogeneity` for details.

[2020-05-30 18:39] beginner984 commented on #456
Thank you @PoisonAlien

I had already put `tsb=NULL` and `top = the number of my samples`

This is my full maf file for my 17 samples

https://www.dropbox.com/s/4vz54tiz4jodb3h/maf.rds?dl=0

This is my full segmentation files for my 17 samples

https://www.dropbox.com/s/ssfnk9e1rikufjp/seg.rds?dl=0

[code]

This my code

`TCGA.AB.2972.clust <- inferHeterogeneity(maf = maf, tsb = unique(maf$Tumor_S

[2020-05-30 23:22] beginner984 commented on #456
Sorry @PoisonAlien I guess the `inferHeterogeneity`  function would work only on top five samples any way users defines `tsb` and `top`

[2020-05-31 11:55] kunstner commented on #533
Hi,

many thanks. Works as expected.

Best,
 Axel

[2020-05-31 13:04] #533 closed

[2020-05-31 18:36] beginner984 commented on #456
Sorry @PoisonAlien I got the point

I should put `useSyn = TRUE` if I want more

[2020-06-01 23:41] ipstone commented on #537
Thanks @PoisonAlien : I think it's most likely due to other 'outdated' package on my system - I am closing this ticket.

[2020-06-01 23:41] #537 closed

[2020-06-02 16:58] pkhoueiry opened #541 "Annotation legend order is not correct"
**Describe the issue**
In the newest maftools versions (Bioconductor version 2.4 and Github v2.4.05), the annotations are shuffled.
For instance, the annotation for resection is under time2Recurrence

<img width="940" alt="Screen Shot 2020-06-02 at 19 53 28" src="https://user-images.githubusercontent.com/5323250/83547353-c1543a00-a50a-11ea-9d5a-b12fb771affa.png">

**Command**
Please post your comm

[2020-06-03 04:00] DarioS opened #542 "Make FLAGS a Global Variable in User Workspace to Improve Its Accessibility"
Line 39 of summarizeMaf function defines the top 20 FLAGS. Could it be turned into a global variable, so that users could easily make use of it in other analyses (e.g. `oncoplot`)? Perhaps all 100 genes should be in the vector, to allow users to subset it to a smaller number (e.g. Top 25) themselves.

[2020-06-03 09:38] snashraf opened #543 "Adding the SV subclass in Oncoplot as well"
Hello,

I am wondering if there is a way to integrate/include SV generated using DELLY, MANTA like DEL, DUPLICATION etc in oncoplot as well apart from CNV and SNV data?

Regards,
Najeeb

[2020-06-04 14:55] PoisonAlien commented on #541
Hi,
Are you sure about the swapping? I am trying to reproduce the issue with several TCGA datasets but it seems to be in proper order.
Can you double check your clinical data if everything is in proper order and columns are not wrongly labelled?

[2020-06-04 17:18] PoisonAlien commented on #543
Thanks for the files. I will look into them probably over the weekend.
I will have to read more but, what kind of SVs are these? Translocations or inversions or ..?

[2020-06-04 18:25] beginner984 commented on #543
Actually `Manta` calls the `SV` and if I am not wrong, each .vcf can contain different types of `chromosomal rearrangement` like `Translocations` or `inversions` as `Strelka mutation caller` calls `insertion` and `deletion` as INDEL in a .vcf file. To be honest I am not good in these things I just think visualisation of SVs as maftools does for mutations could have a hug impact of genomic visualis

[2020-06-05 07:48] pkhoueiry commented on #541
I think so. I believe the match between the names in the list `annotationColor` and `clinicalFeatures` is buggy.

[2020-06-05 14:27] beginner984 commented on #518
Excuse me @PoisonAlien, by

`tmb(maf = laml,captureSize = 50,logScale = FALSE)
`
I see Median : 1.84/mb, does this mean that `1.84 per each 50 mega bases of the genome` because `captureSize = 50`?

![Rplot09](https://user-images.githubusercontent.com/43682980/83887621-9bb07600-a740-11ea-9185-d6488d2a827b.png)

When I put `captureSize = 1`, I get this

![Rplot10](https://user-images.githubuserconte

[2020-06-05 15:29] PoisonAlien commented on #518
Capture size indicates the size of genome that is sequenced. For example exome-seq with Agilent [sureselect](https://www.agilent.com/en-eu/promotions/sureselect-human-all-exon-v7) kit captures ~50mb of the genome. If you observe 100 mutations then your TMB is 100/50 = 2per mb.
Probably there are more fancier ways to estimate TMB but here its just a simple division with capture size.

[2020-06-06 04:27] 2236529177 opened #544 "tcgaCompare seems to get the wrong samples in plot"
laml.mutload = tcgaCompare(maf = laml, cohortName = 'Example-LAML')

1   I calculate the sample number in excel , it is 193,not 192

2  **capture_size:** capture size for input MAF in MBs. Default NULL. If provided plot will be scaled to mutations per mb.
  **tcga_capture_size   : T**CGA capture size is assumed to be 50mb.

without default capture_size, how can calculate the Example-LAML TMB?  and

[2020-06-06 06:57] 2236529177 commented on #544
does the y-axis stands for the number of genes ,so 10^-1=0.1, how should I interprete this, thanks a lot

![image](https://user-images.githubusercontent.com/25199946/83938322-d3352600-a805-11ea-9695-2be403fa7bd1.png)
![image](https://user-images.githubusercontent.com/25199946/83938329-dfb97e80-a805-11ea-8926-1d76d45f8bbe.png)

[2020-06-06 07:02] PoisonAlien commented on #544
Hi,

1. Function removes samples with zero mutations be default. Setting `rm_zero = FALSE` shows 193.
2. Without capture size mutation burden is not normalized to per MB. They will be just median values. There is no solid way of knowing TCGA capture size, it depends on who you ask. Default value of 50MB is based on [agilent sureselect kit](https://www.agilent.com/en-eu/promotions/sureselect-human-

[2020-06-06 07:13] 2236529177 commented on #544
thanks a lot.
1 bubble is according to -log10 transformed q values, so can you give a q_value bar on the plot?

you said negative sign indicates deletions, so what the y-axis mean, can you describle it clearly

thanks a lot

[2020-06-06 09:04] PoisonAlien commented on #541
Thanks for reporting. I was able to reproduce it.
I have pushed a fix, please try it out (from GitHub) and let me know if this helps.

[2020-06-06 09:12] PoisonAlien commented on #544
1. I realised that plot had no scale for q values. I have added it now. Maybe it will help.
2. They are number of genes amplified (above zero) or deleted (below zero). Anyway I now made it to draw absolute values since it seems confusing. If you dont want log scale set `log_y = FALSE`
3. Its which bands to be labelled among all. By default it shows top 5 (based on q values). This argument doesnt t

[2020-06-06 09:12] #538 closed

[2020-06-06 09:12] #529 closed

[2020-06-06 09:14] PoisonAlien commented on #462
I am closing this issue since it wont be possible.

[2020-06-06 09:14] #462 closed

[2020-06-06 09:17] PoisonAlien commented on #484
Hi thank you both.
This has been implemented. I closing the issue.

[2020-06-06 09:17] #484 closed

[2020-06-06 09:18] #467 closed

[2020-06-06 09:18] #443 closed

[2020-06-06 09:19] #458 closed

[2020-06-06 09:43] PoisonAlien commented on #542
Hi,
I am not so comfortable with global variables in R. I have made an internal function `flags` that you can access with `maftools:::flags()`. I will export it in the next coming BC release.
Let me know if this helps.

[2020-06-06 09:51] 2236529177 commented on #544
so i nedd to install from tyhe github now, am I right?

[2020-06-06 09:52] PoisonAlien commented on #544
Yes, that is correct.
[code]

[2020-06-06 10:38] 2236529177 commented on #544
thanks a lot, I have tested that, wonderful, thanks a lot

[2020-06-06 11:08] #544 closed

[2020-06-06 15:05] beginner984 commented on #518
Sorry @PoisonAlien

I have to groups of patients for them I plotted mutational burden like this

![Picture1](https://user-images.githubusercontent.com/43682980/83947502-4becb000-a80f-11ea-8c2a-f3f8933afd57.png)

My boss says I should find a way to make Y axis at the same scale I mean by bared eyes we can see the differences

Is there any possible change to the function can to this?

[2020-06-06 15:23] PoisonAlien commented on #518
No its not possible.

[2020-06-06 16:03] beginner984 commented on #462
Sorry @PoisonAlien

Please look at this figure

![Untitled](https://user-images.githubusercontent.com/43682980/83948773-9c680b80-a817-11ea-9b40-f4cdf226d27f.png)

Figure 4 part b this article

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6420087/

[2020-06-07 14:51] ninnywolf opened #545 "9.5.1 Forest plots : What is the base number in the log odds ratio?"
Dear Dr. Mayakonda,
Sorry to bother you. I have a question when using Maftools.
In the 9.5.1 Forest plots section, i wonder what is the base number in the plotted graph? Is it 10 or e？
Thanks for your time.

Yours,
Grant Lang

[2020-06-08 12:49] PoisonAlien commented on #545
Hi,
No worries at all. It is `log10` of OR.

[2020-06-09 01:34] ninnywolf commented on #545
Dear Dr. Mayakonda,
Thank you very much!

[2020-06-09 01:34] #545 closed

[2020-06-09 03:00] DarioS opened #546 "Enable Clinical Variable Assignment to Lollipop Stem Colour"
I had a request from a biologist to assign a variable from the clinical data (e.g. smoking status) to the stem colour in the lollipop plot, which is always grey. Could it be possible to do by the next release?

[2020-06-09 07:06] PoisonAlien commented on #546
That's actually a good idea.
Yeah sure, I will do my best.

[2020-06-09 08:00] DarioS commented on #546
Maybe not after I thought about it more. You could have the same location for both values of the variable and then there would be overplotting and one of them would not be visible. I guess that `lolliipopPlot2` is a safer solution.

[2020-06-09 09:22] PoisonAlien commented on #546
Yeah its more complicated when you have more than two values for a clinical variable. (e.g, `Smoking status = low, inter, high`). In that case the bar length should be color coded with multi colors, with their length being proportional to the number of events? As below example..

<img width="81" alt="Screenshot 2020-06-09 at 11 21 10 AM" src="https://user-images.githubusercontent.com/8164062/84130

[2020-06-09 12:00] DarioS commented on #546
Oh, that would be nice, now that I see the sketch. It generalises simply to more than two categories, so would provide something more flexible than lollipop2.

[2020-06-09 20:53] erikagedvilaite opened #547 "Expanded copy number annotation"
Hello team,

I would like to plot expanded copy number calls:
events: "Amplification","CNLOH","Diploid","Gain","Gain+LOH","HETLOSS","HOMDEL","Tetraploid"

Currently, when I run this code, I get very messy code and am going to try to use expanded "additionalFeature" input.

How feasible would it be to add this to the tool? Also, if there is another tool or feature that I could use, I would be grate

[2020-06-10 06:56] PoisonAlien commented on #547
Hi,
Oncoplot tends to get messier with too many variables. Just to let you know, you're using a bit older version of the package (2.3.10). Current version is `2.4.05` as on GitHub and supports plotting of multiple CN events - the exact thing that you're planning on plotting. (Take a look at issues #520 and #490)

If you want to try other tools, afaik below are the two options:
1. [oncoprint](https

[2020-06-10 11:42] clersdom commented on #92
Hi, I have the same error and can not see any NAs or rows with all entries 0, but I do see a column with all values 0... I think that could be the error?
I have also tried installing NMF again from Github and I am still getting the same error.
It works for a bigger subset of samples (n=85), but not for the current set with 33 samples for which I am having the error.

`my.sign <-extractSignatures(m

[2020-06-10 11:54] PoisonAlien commented on #92
Hi, There is an argument `pConstant` which you can use to add small positive value to avoid zeros. Set it to your desired value e.g, `pConstant=0.01`.
Let me know if you still have the issue.

[2020-06-10 16:11] MaryGoAround opened #548 "Network of mutational changes"
Hello @PoisonAlien

I have a suggestion

maftools nicely plots the proportion of affected genes and pathways

Tools like `HotNet2` systematically identifies the genes or pathways showing the most recurrent mutational changes

Like here that prioritise the nodes in the network by the mutations they have

![Untitled](https://user-images.githubusercontent.com/60115705/84292173-ef0a3600-ab3d-11ea-98b7

[2020-06-11 04:00] DarioS opened #549 "Oncoplot Genes in At Least A Number of Samples Option"
It would be nice to have an option similar to `top` that allowed the user to specify all genes with variants in at least a minimum number of samples. I'm trying to plot all genes mutated in 3 or more patients out of 20 and using trial and error to set `top` but it could be made easier.

[2020-06-11 22:06] beginner984 commented on #491
Sorry @PoisonAlien

Given a maf object, how we define the average of mutated gene per sample?

I mean for a list of genes let's say cancer drivers

I thought of creating a boolean matrix, then converting everything > 1 to 1 and finally averaging the 1s

But I am not sure if this makes sense

[2020-06-12 09:42] PoisonAlien commented on #491
Can you describe this in more detail? I can't seem to understand what you mean by `average of mutated gene per sample`

[2020-06-12 09:44] PoisonAlien commented on #548
Hello,
`Hotnet2`, `Dendrix` they are all meant for a specific purpose to identify set of genes (>2) that are mutated in mutually exclusive manner. This would not be possible to implement in maftools.

[2020-06-12 09:46] #547 closed

[2020-06-12 13:06] MaryGoAround commented on #548
Thank you @PoisonAlien

maftools displays mutually exclusiveness and co-occurance of mutated genes

Can maftools does the same for copy number altered genes (or combination of mutation and copy number altered).

[2020-06-12 13:10] beginner984 commented on #491
Sorry @PoisonAlien  you alright, what I have asked was unclear

Actually yesterday I showed the boss that a list of cancer drivers are exclusively mutated in non-responders to chemotherapy using maftools compare function of two maf objects

She then asked me what is the average of mutated drivers in each group (responders and non-responders)

I hope I have understood her well and can convey the me

[2020-06-12 13:30] PoisonAlien commented on #548
Unfortunately CNVs are not supported.

[2020-06-14 08:24] #541 closed

[2020-06-14 08:32] PoisonAlien commented on #549
Hi,
I have added `minMut` argument to `oncoplot`.
Usage:

[code]
Please check this and let me know if it works as expected..

[2020-06-14 09:06] PoisonAlien commented on #534
I have been trying to implement it but it seems it does not make sense to subset GISTIC object because the statistics such as p-values, amplitude, g-scores, etc are all estimated on the original cohort and can not be subsetted (or recalculated in R).
Even you subset for specific samples you will end up with faulty values.

[2020-06-14 10:54] beginner984 commented on #417
Sorry

I want to collapse sip and indeed from each patient to one sample barcode

This is the structure of my data

[code]

I don't know which step I do wrong that maftools does not recognise the prefixes

Can you help me please?

Thank you

[2020-06-14 10:55] ShixiangWang commented on #534
If it is truly important, maybe we can consider providing GisticCompare for two or more gistic objects. It should make sense.

[2020-06-14 12:00] DarioS commented on #549
Very convenient!

[2020-06-14 12:00] #549 closed

[2020-06-14 13:18] PoisonAlien commented on #417
Can you test the function with just the SNP files?

[2020-06-14 13:22] PoisonAlien commented on #534
Yeah something like `GisticCompare` should be a better option.
Also you can just add clinical parameter as one of the annotation row which should be suffice and show the differences between groups.

[2020-06-15 00:51] beginner984 commented on #464
Apologise @PoisonAlien

I have compared two mafs

[code]

The results says that `ERBB2` has been mutated in none of 30 primary samples versus 6 of 38 relapse samples

But this plot likely says that ERBB2 has been mutated only once in both groups

![Rplot01](https://user-images.githubusercontent.com/43682980/84608493-aab6c700-aeaa-11ea-98b9-1d2c3b799581.png)

Thank you for any help

[2020-06-15 07:34] PoisonAlien commented on #464
Results in from mafCompare has no `ERBB2`. Its `ERBB4`.

[2020-06-15 16:09] 2236529177 opened #550 "can maftools summary the base transform of each gene, like the following excel"
the table contains the ref and alt base in each column, will maftools creat such a function.
thanks  a  lot
![image](https://user-images.githubusercontent.com/25199946/84680441-50c70780-af65-11ea-90c9-9e12fa24343f.png)

[2020-06-16 02:31] MaryGoAround opened #551 "Adding cell line responses"
Hello

Is this possible to integrate cell lines drug response data to Maftools?

For a given maf and a list of genes, maftools seeks for any relation between mutation vs wild type of that genes and for instance cisplatin z-scoe, AUROC, etc in cell lines of a cancer

Then maftools says mutation in this given gene is related to sensitivity or resistance to a drug

For instance cell lines listed here

[2020-06-16 07:41] PoisonAlien commented on #551
This is a good idea indeed. But I checked the bulk download options and the file sizes are quite huge (>10 mb). This makes it difficult to bundle with the package (Bioconductor restrictions).

[2020-06-16 07:45] PoisonAlien commented on #550
Hi,
This seems quite straight forward that can be done with couple of melt and cast functions. If it is really helpful, then I can implement it. I will let you know..

[2020-06-17 02:15] 2236529177 commented on #550
really helpful，thanks  a lot

[2020-06-17 12:21] PoisonAlien commented on #518
Can you post the below output?

[code]

`total` is the number of variants (excluding CNVs, and syn mutations) in a sample.

[2020-06-17 15:05] beginner984 commented on #551
Excuse me @PoisonAlien

When I filter the link for `ESCA`, different cell lines appear, by clicking on each of them, list of genes and drug come.

For each cell line, I have to click on them and download genes + drug one by one

Do you know how I can download all at once? (you call that as bulk)

Sorry if my question is irrelevant

[2020-06-17 15:06] MaryGoAround commented on #551
Excuse me @PoisonAlien

When I filter the link for `ESCA`, different cell lines appear, by clicking on each of them, list of genes and drug come.

For each cell line, I have to click on them and download genes + drug one by one

Do you know how I can download all at once? (you call that as bulk)

Sorry if my question is irrelevant

[2020-06-17 15:17] PoisonAlien commented on #551
https://www.cancerrxgene.org/downloads/bulk_download

[2020-06-17 16:45] beginner984 commented on #518
Thank you

[code]

[2020-06-17 18:43] PoisonAlien commented on #518
Seems ok to me.

[2020-06-18 10:45] nygr opened #552 "not all annotation legends are visible"
**Describe the issue**
A clear and concise description of what the issue is.
Hi, i have the following code (below)

and when it prints the plot it only shows legend for clinical features until "Analysis" and the rest it cuts out, and spaces between the clinical features legend is so big. How to fix this? I have tried using larger device size and larger pdf width when printing the plot but it doesn

[2020-06-18 13:14] PoisonAlien commented on #552
Could you please your sessionInfo?

[2020-06-18 15:19] clersdom opened #553 "OncogenicPathways -fraction of samples affected"
Hi, I am looking at enriched oncogenic pathways and it is not clear to me what is exactly shown in the "fraction of samples affected" barplot.

As for the results shown when running `OncogenicPathways`
[code]
Here it says that only 5 samples have TP53 mutated, but when I check the actual number of samples in the MAF object, I can see 55 samples with TP53 mutated.

[code]

How are the mutated_sampl

[2020-06-18 16:39] PoisonAlien commented on #553
Hi,
I see that you're using devel version (2.5.0) of maftools from Bioconnductor.
Could you please try the one from GitHub or release version of Bioconductor? There was a bug in sample number estimation which has been fixed recently. It hasn't been pushed to devel Bioconductor yet.

[code]

Please do let me know if you still find the discrepancies after the update.

[2020-06-18 21:53] beginner984 commented on #553
Sorry @PoisonAlien

Long time, I am trying to `compare signalling pathways` affected in `two maf objects`. `OncogenicPathways` gives the proportion of affected samples and pathways but we can not compare an individual pathway, let's say comparing RTK-Ras between to maf objects.

I have been trying to do that myself by comparing the proportion of affected samples for a given pathway between two maf

[2020-06-19 09:43] clersdom commented on #553
Looking fine now with version `maftools_2.4.10`- the number of mutated samples appear in accordance in both objects.
Thanks @PoisonAlien !

[2020-06-19 11:29] beginner984 commented on #509
Sorry @PoisonAlien

I have asked this in a newest issue but I think I should ask this here because this is a relevant post

Long time I have been trying a way to compare each of individual signalling pathways to report dysreregulation biased in each group by showing p-value but I failed

This is a code I have been trying to get the proportion of altered samples for each pathway in one group

[Code

[2020-06-19 11:43] MaryGoAround commented on #533
Hello

Is this possible to show only peaks we want in `gisticOncoPlot` like `markBands` argument in ``gisticChromPlot`?

Thanks you

[2020-06-21 11:49] beginner984 commented on #553
sorry @PoisonAlien
Is there any way to compare individual oncogenic signaling pathways by maftools?

[2020-06-21 14:09] PoisonAlien commented on #509
Hello @beginner984
I beg you to refrain your issues to bugs/errors. Maftools **can not** solve all your queries with the analysis. These things has to be solved by you. I would also suggest you to take some statistic classes or consult a senior bioinformatician.

Above query is trivial. You have two groups and with different levels of mutated samples. Its a classic case for fishers exact test.

Fo

[2020-06-21 14:10] #553 closed

[2020-06-22 10:19] beginner984 commented on #553
Sorry @PoisonAlien

Probably this is a bug or again my mis understanding

So, excuse me in advance

I have `147` samples, `OncogenicPathways` says that `76` out of `147` have been altered for PI3K pathway

[code]

I looked what genes are in this pathway

![Rplot03](https://user-images.githubusercontent.com/43682980/85276477-c8bb9300-b479-11ea-9936-408a8cb0a317.png)

Figure says that `PTEN` has bee

[2020-06-22 11:38] PoisonAlien commented on #553
Looks ok to me. All events are counted (CNVs included).

[2020-06-22 14:38] PoisonAlien commented on #550
Hi,
I have implemented this feature in the `devel` branch. Could you please test it and let me know ?
See `?refAltMat` for details.

[code]

[2020-06-25 07:25] lbeltrame opened #554 "RFE: include the peak in GISTIC gene summary"
Often it is useful to focus on genes present in a specific GISTIC peak among all, and extract genes of interest to be then further investigated. Unfortunately `getGeneSummary` does not indicate the peak the genes they belong to. It would be a worthwhile addition, since then a user would be able to filter downstream for whatever needed.

[2020-06-25 10:29] PoisonAlien commented on #554
Hi,
Including that information in `getGeneSummary` would be tricky because the same gene can be deleted in some sample and amplified in some, with different peak identifier. For example look at `KIF3B` gene in included GISTIC example. It is amplified and deleted (and both in some samples - overlapping GISTIC peaks).

[code]

But if you would like to get the peak information you can do the followin

[2020-06-26 07:36] #554 closed

[2020-06-26 15:07] 2236529177 opened #555 "geneCloud has been removed?"
Dear professor,
geneCloud has been removed?  I want to use the maf file to draw a gene cloud like following
thanks a lot.
![image](https://user-images.githubusercontent.com/25199946/85871975-bcc92b80-b801-11ea-84ca-eaf15f3d7227.png)

[2020-06-26 15:16] PoisonAlien commented on #555
Hi,
yes - this function has been removed in the new releases. If you still would like to use it, check out the issue #532

[2020-06-26 15:26] 2236529177 commented on #555
Thanks a lot
function(input, minMut = 3, col = NULL, top = NULL, genesToIgnore = NULL, ... )

which parameter can set the plot be a circle or rectangle or any other shapes

[2020-06-26 15:28] PoisonAlien commented on #555
There is no such parameter. You can pass additional arguments to the function and they will be passed to `wordcloud`

[2020-06-26 15:49] 2236529177 commented on #555
and the minMut means the gene mutation sample numbers or others?

[2020-06-26 18:08] PoisonAlien commented on #555
Hi,
`minMut` refers to `Minimum number of samples in which a gene is required to be mutated.`
Also there is no `shape` argument in wordcloud. You can check the available options with `?wordcloud::wordcloud()`

[2020-06-27 00:22] 2236529177 commented on #555
thanks a lot

[2020-06-27 03:17] whitejaa commented on #261
The same error happened to me (maftools 2.4.10) but setting "stringsAsFactors = FALSE" while using "read.delim" to read in maf files fixed it as well. Thanks for your constant support of maftools.

[2020-06-27 05:59] #555 closed

[2020-06-27 18:24] imrankhan27 opened #556 "Error in validateMaf(maf = maf, isTCGA = isTCGA, rdup = removeDuplicatedVariants, : missing required fields from MAF: Hugo_Symbol"
Hi,
I am running into this issue of getting this error:
-Reading
-Validating
Error in validateMaf(maf = maf, isTCGA = isTCGA, rdup = removeDuplicatedVariants,  :
  missing required fields from MAF: Hugo_Symbol

I prepared .maf files from a TCGA cohort. Keeping in mind all the  MAF required fields as per the documentation from maftools with some more fields from included by TCGA. The files from TCG

[2020-06-27 19:51] PoisonAlien commented on #556
Hi,
Could you please provide a reproducible example? Maybe top 500 rows of your maf if possible?

[2020-06-28 01:20] imrankhan27 commented on #556
Than you very much for your reply. Please find the sample file in attachment. [https://www.dropbox.com/s/p7rfblrojhjrlxu/sample.maf?dl=0](url)

[2020-06-28 04:51] whitejaa opened #557 "COSMIC Signature Enrichment Analysis Error"
Hi,

When I try to run the COSMIC Signature Enrichment Analysis-----------------
[code]

I get the following error----------------------
[code]

Using the printed info, I was able to trace the error to the clinicalEnrichment function, past line 80. But I was not able to pinpoint anything past that.

Here is my session info----------------------------------------------------------------------------

[2020-06-28 07:46] PoisonAlien commented on #556
Hi,
Thanks for the file. It happens that your files are in CSV format instead of TSV.
What you could do for now is read in your file with `fread` and pass the resultind `data.table` to `read.maf`

[code]

[2020-06-28 14:20] imrankhan27 commented on #556
It works. Thank you very much :)

[2020-06-28 15:07] #556 closed

[2020-06-29 07:04] ltgmri opened #558 "Hello, when i use subsetMaf() function, an error was present 'Can not cast an empty data.table'"
Hello, when when i use subsetMaf() function to extract special samples ,an  an error was present  that is:
'Error in dcast.data.table(data = vc, formula = Tumor_Sample_Barcode ~  :  Can not cast an empty data.table'

the detailed questions was below:

the code is
[code]

when i use 'getSampleSummary(maf_1) ` to get the sample summary, the first sample is 'TCGA-AG-A002-01A-01W-A00K-09 '

the sample

[2020-06-29 07:10] PoisonAlien commented on #558
Hi,
Setting `isTCGA = TRUE` will truncate the barcode to first 12 characters. That means your maf should also be generated with `isTCGA = TRUE` while reading with `read.maf`. This seems to be not the case here since your maf has the full length barcode.

Could you try with full barcode name as in below and it should work.

[code]

[2020-06-29 07:58] ltgmri commented on #558
Thank you very much!, it really works. According your instruction, when i use read.maf() function to read data, the parameter isTCGA = FALSE changed to True, then i can use this code
maf_1_high <- subsetMaf(maf=maf_1, tsb = c('TCGA-AG-A002'), isTCGA = TRUE).
But when i use only the 12 characters, may be there will be duplicate sample names, because the sample from different parts of the same patie

[2020-06-29 08:57] ltgmri commented on #558
By the way, when i use coOncoplot() to plot the different mutation in two groups, the default genes number is 5, how to display the top 10  different mutation genes. thank you.

[2020-06-29 09:01] PoisonAlien commented on #558
Yes, it will affect the downstream analysis.
`isTCGA` exists to speed up some processes where annotations are usually available with 12 characters whereas barcodes in MAF are not. I suggest not to use `isTCGA` argument.

Also there is no top argument for coOncoplot. Use `genes` instead.

[2020-06-29 11:53] Tato14 opened #559 "Add clinical data to survGroup"
There are some PFS/OS predictors that join both Clinical an Mutation signatures to develop kind of a "Score". An illustrative example would be [this one](https://ashpublications.org/blood/article/134/Supplement_1/122/426293/Evaluation-of-the-m7-FLIPI-in-Patients-with)

Could it be possible to include one or more than one clinical variable in maftools mutation survival analysis to combine both mole

[2020-06-29 12:34] #558 closed

[2020-06-29 15:11] jotes35 commented on #190
Hi All, I have a similar problem. I performed annotation with annovar using refGene and attempted to open with maftools using the commands below
library('maftools')
_setwd("/home/user/refGene")
var.annovar = system.file("extdata", "myanno.refGene.csv.hg19_multianno.txt", package = "maftools")
var.annovar.maf = annovarToMaf(annovar = var.annovar, Center = NULL, refBuild = 'hg19',basename=NULL, tsbC

[2020-06-30 06:50] PoisonAlien commented on #190
Hi,
You dont have to use `system.file` command. That is just to access the example file bundled with maftools. You should pass the path to your annovar output.

[code]

[2020-06-30 06:51] PoisonAlien commented on #559
Hi,
If I understand correctly you are suggesting to add support for multivariate survival analysis?

[2020-06-30 07:01] PoisonAlien commented on #557
Hi,
I have hard time reproducing it the error. Is it possible to provide a reproducible example?

[2020-06-30 07:01] #550 closed

[2020-06-30 07:26] Tato14 commented on #559
Hi @PoisonAlien,

Sorry If do not explain myself properly. Uhm, yes I guess multivariate survival analysis would be a good starting point.

Actuall,y the link above builds kind of a linear (not sure) model using both mutations in specific genes and clinical features as categorical variables and give a prediction on OS.

What I had in mind was something more related with this. If I understood how `

[2020-06-30 12:32] beginner984 opened #560 "Adding new feature to survival analysis"
Hello @PoisonAlien

I have two mafs for two groups of patients. Is this possible to know genomic alteration in which genes differently related to survival between groups?

Let's say KRAS is being altered but can we know if KRAS related to survival in one groups and not in the other one

I think something like multivariate works, if a group is responder group and the other group is non responders,

[2020-06-30 14:13] whitejaa commented on #557
Hi,
Try this:
https://tuskegee-my.sharepoint.com/:u:/g/personal/jwhite7264_tuskegee_edu/EQ03MVjeS_xLsbENxF_79q8BoJtog_fE91hfAN89bul_8w?e=TM3nKc

Thanks!!

[2020-06-30 15:37] jotes35 commented on #190
@batis2ta I tried the commands you suggested. It worked but another error was generated. Please see the message below
_Error in annovarToMaf(annovar = var.annovar, Center = NULL, refBuild = "hg19",  :
  Tumor_Sample_Barcode field not found in input file. Use argument tsbCol to manually specifiy field name containing sample names/Tumor_Sample_B_

[2020-07-01 07:01] PoisonAlien commented on #557
Thank you for the file. Your sample size and tumor burden is way too low for signature analysis. So I would be careful with the results.
Having said that the error is you're getting is exactly because of the low mutation burden/sample size. By default `minMut = 5` for `signatureEnrichment`. Setting it to lower (for example 2) will work.

[2020-07-01 07:28] PoisonAlien commented on #560
Wouldn't it be simpler to just show two plots side by side for each group?

[code]

![Rplot02](https://user-images.githubusercontent.com/8164062/86215621-15d7ed00-bb7d-11ea-97f7-b3d26cf66f0c.png)

[2020-07-01 07:31] PoisonAlien commented on #559
I see.. I can not comment on the difficulty part but, I would be happy to give it a try (it might take a while though).

[2020-07-01 08:08] Tato14 commented on #559
It would be great! Ping me if you think I can contribute somehow! Thanks!

[2020-07-01 08:29] beginner984 commented on #560
Thank you much

I guess that could be like a multivariate thing. If we going two mafs and we have response to chemotherapy and non response to chemotherapy like a `1 , 0` vector, genomic alteration in a given gene in another vector, survival can be looked in terms of interaction of response and genomics alterations

To be honest I am not even sure

[2020-07-01 16:58] whitejaa commented on #557
Thanks! I might need to be a little less stringent in my variant filtering. I will look through it.

[2020-07-02 14:34] jotes35 commented on #190
I resolved it by installing the latest version in github

[2020-07-02 14:58] jotes35 opened #561 "saving maftools plots to outputfile"
**Describe the issue**
Is there a function that allows you to save maftools plots to output file For example if I have a MAF object and i use the  _plotmafSummary_ function. How do I export the figures generated to an output file called _summary.png_

This will come in handy in situations where I have access to only commandline interface such as an hpc environment

[2020-07-02 15:13] PoisonAlien commented on #561
Hi,
An plot in R can be saved with `pdf` `png` `tiff` `jpeg` `bmp` commands. You need to call them before plotting and end them once you;re done. Use `?png` for details on file dimensions, resolution etc.

[code]
There should be `maf_summary.png` with your plot in the working directory.

[2020-07-02 21:37] beginner984 commented on #453
Hello @PoisonAlien

For getting the number of non synonymous mutations per sample

`getSampleSummary(laml)` gives fields like

[code]

Does mean non synonymous mutations or I should add up `"Missense_Mutation"    "Nonsense_Mutation"    "Nonstop_Mutation"     "Splice_Site"   `

[2020-07-03 06:30] PoisonAlien commented on #453
Output from `getSampleSummary` includes only nonsynonymous mutations. You don;t have to add up anything - unless you;re interested in specific types.

[2020-07-03 06:30] #561 closed

[2020-07-03 06:31] PoisonAlien commented on #560
I am closing this for now.

[2020-07-03 06:31] #560 closed

[2020-07-03 06:31] #557 closed

[2020-07-03 06:32] #548 closed

[2020-07-03 06:32] #552 closed

[2020-07-03 06:32] #542 closed

[2020-07-03 08:03] beginner984 commented on #560
Good morning @PoisonAlien

Thank you

How I get access to a vector of mutation status of genes (Let's say 0 , 1 or whatever els that I am not aware) which Maftools itself internally extract to feed that into survival analysis? If so I would be able to do survival analysis manually myself in a close view

[2020-07-03 08:29] PoisonAlien commented on #560
Its bit more complex than that. You can check out the source code [here](https://github.com/PoisonAlien/maftools/blob/master/R/mafSuvival.R#L121).

[2020-07-03 09:54] MaryGoAround commented on #507
Dear @PoisonAlien

In literature I see people speak about deleterious mutations

Is this possible to subset a maf object on mutations with deleterious and/or moderate impacts? I don't mean by providing a list of genes rather from annotation columns in maffile (I am really not sure by literature mention like SIFT score)

Thank